[2018-12-16 15:31] lintool opened #517 "Call for records of successful replication"
Followup, generalizing #492

@tteofili @catenamatteo @Chriskamphuis I think it'd be nice to keep records of other people who have replicate our results, so that newcomers can get a sense of how reliable our results are. Would you mind doing the following?

For each experiment that you've replicated (e.g., CORE 18), send a PR:
https://github.com/castorini/Anserini/blob/master/src/main/resources/doc

[2018-12-16 15:35] lintool commented on #445
This issue is linked to directly from the README, so no need to keep open. Closing.

[2018-12-16 15:35] #445 closed

[2018-12-16 16:33] Peilin-Yang commented on #516
@matthew-z welcome!

Can you please try to modify the `pom.xml` by replacing `<extraJvmArguments>-Xms512M -Xmx256G</extraJvmArguments>` to something like `<extraJvmArguments>-Xms512M -Xmx16G</extraJvmArguments>` and then recompile?

Actually, if you do not want to recompile you can directly modify `target/appassembler/bin/IndexCollection` to replace `-Xmx256G` with `-Xmx16G` but it is better to re

[2018-12-16 16:41] matthew-z commented on #516
@lintool Thank you for your response.

 Yes, The indexer stopped making any progress after it occupied all the memory.
I have attached the log in https://gist.github.com/matthew-z/69aa86b6ce72f56cc40e683e646f1520. I started the indexer at 23:42, and it completely stopped working after 00:13.

The RAM usage becomes 100% even I set `-memorybuffer` to a small number. I tried 256 and 128 but none of t

[2018-12-17 13:36] tteofili commented on #517
I did it already but will re do it now and create a PR as soon as I have the numbers.

[2018-12-17 13:37] lintool commented on #517
Thanks all!

[2018-12-18 08:30] andrewyates commented on #492
sure, #521

[2018-12-18 18:05] lintool opened #524 "Regressions for ECIR 2019 cross-collection relevance transfer runs"
We need to build regressions for the forthcoming ECIR paper.

[2018-12-20 16:47] lintool commented on #524
Hi @Kytabyte with #532 and #528 the ccrf code is in good shape - can you add in the configs for the ECIR experiments and let's try and get new results?

Thanks!

[2018-12-21 11:17] lintool opened #534 "Code for Anserini indexing into Solr"
Hi @r-clancy IIRC you have code that will allow us to use the Anserini frontend to index directly into a Solr instance via SolrJ? Can you please send a PR so I can start playing with it?

So, in theory, I should be able to start up based on Docker here https://github.com/castorini/SolrAnserini and then index directly into the instance?

[2018-12-22 17:30] r-clancy commented on #534
Closing, see https://github.com/castorini/Anserini/pull/536.

[2018-12-22 17:30] #534 closed

[2018-12-24 13:50] bayou3 opened #540 "How to obtain a DFCF file from the built index?"
Hi, the index has been built successfully by your command guide.
Then I want to count the DFCF ( document frequency, category frequency) from the index. Previously, when I used terrier tool to construct the index, it will generate a data.properties file, then using a written program extractDFCF.ictFormat.jar can easily get DFCF from the terrier-constructed index. So can I get DFCF from the  Anseri

[2018-12-25 03:53] Peilin-Yang commented on #540
@bayou3

Anserini has an application `IndexUtils` and the command
[code]
can give you the document frequency. The code is here https://github.com/castorini/Anserini/blob/master/src/main/java/io/anserini/index/IndexUtils.java#L179

I am not sure what is `category frequency`?

[2018-12-25 14:17] bayou3 commented on #540
@Peilin-Yang Thank you so much for pointing me out,  it is so helpful. CF is collection frequency. Although it seems to take some time to run this command, I use another script to interrupt it and obtain the needed DF. Thank you!

[2018-12-25 14:17] #540 closed

[2019-01-08 12:12] lintool commented on #492
Closing.

[2019-01-08 12:12] #492 closed

[2019-01-08 12:14] lintool commented on #447
Done and merged in #539

[2019-01-08 12:14] #447 closed

[2019-01-08 12:15] lintool commented on #291
Completed in #514. Closing.

[2019-01-08 12:15] #291 closed

[2019-01-08 12:16] lintool commented on #494
Done, in PR #542

[2019-01-08 12:16] #494 closed

[2019-01-12 16:27] #420 closed, assigned to nobody

[2019-01-16 15:12] lintool opened #558 "Export Anserini (Lucene) index to Solr"
We currently use Docker: https://github.com/castorini/SolrAnserini

Seems to me that using Docker isn't particularly necessary, since Solr itself is pretty easy to stand up. Would be nice to have something like this:

[code]

[2019-01-24 16:56] lintool opened #566 "Augment compare_runs to automatically generate per topic plots"
We're trying to standardize on `compare_runs` as our central script for comparing runs, running stat sig, test, etc.
https://github.com/castorini/Anserini/blob/master/src/main/python/compare_runs.py

It would be nice to have that script automatically generate per-topic difference plots.

@Peilin-Yang already has an example here:
https://github.com/castorini/Anserini/blob/master/src/main/python/eci

[2019-01-27 15:04] tteofili commented on #517
I've managed to replicate the results for Trec '17, I'm not sure though which commit should I reference when opening the PR.

[2019-02-03 18:30] tokee opened #572 "Very high max memory allocation"
The `target/appassembler/bin/` scripts has `Xmx` set to `256G`: https://github.com/castorini/Anserini/blob/master/pom.xml#L94

This is a very high memory allocation: I tried running Anserini with the default `256GB` on a machine with ~90GB available memory and it kept increasing the heap until it had allocated it all + the swap file. This is expectable behaviour from the JVM: With `256GB` the Anse

[2019-02-07 07:47] r-clancy commented on #572
In https://github.com/castorini/Anserini/pull/573 the `Xmx` value has been reduced to `31G` from `256G`. From testing with the full `cw09b` dataset, it seems to remain stable around `24G`. This might be a little high still, but it's much more reasonable than `256G`.

[2019-02-20 12:16] lintool commented on #572
Memory usage has been dialed back to 31g in commit 67ecbbe651335f94414a3e55bba5814be0292d4e.

Reran all regressions from scratch (including indexing):

[code]
Everything passes except for `mb13`, which throws OOM. It passes with 48g. Okay to keep 31g setting I think, just watch out when running regressions in the future.

Closing.

[2019-02-20 12:16] #572 closed

[2019-02-20 12:20] lintool opened #579 "Releasing v0.4.0"
We've seemed to have reached a checkpoint. Major changes include:
+ upgrade to Lucene 7.6
+ ECIR runbooks
+ Anserini/Solr integration

Seems like a good idea to do an official release? Thoughts?

@Peilin-Yang @lukuang @r-clancy @Victor0118 ?

[2019-02-20 12:21] lintool commented on #484
Closing, superseded by #579

[2019-02-20 12:21] #484 closed

[2019-02-20 13:25] lintool opened #580 "Index MS MARCO"
Get Anserini to be able to index and retrieve all of MS MARCO.

[2019-02-20 14:35] lukuang commented on #579
sg

[2019-02-20 17:53] r-clancy commented on #579
:+1:

[2019-03-04 21:36] lintool commented on #579
Version 0.4.0 officially released!
Release notes at https://github.com/castorini/Anserini/blob/master/docs/release-notes/release-notes-v0.4.0.md

Thanks to @Peilin-Yang @r-clancy @Victor0118 @tokee @Kytabyte @andrewyates @Chriskamphuis @tiddler @tteofili for your contributions!

[2019-03-04 21:36] #579 closed

[2019-03-06 15:03] lintool commented on #580
Spoke to @Victor0118 about this - we're just using `JsonCollection` for indexing... but we should check in a script that converts into the format and create a README. I'd like this as a standard regression.

Also @Victor0118 please copy MS MARCO somewhere on tuna collections.

[2019-04-07 06:59] aalbahem commented on #422
@lintool I have refactored Rm3Reranker to reduce redundancy, and I also created  Condensed List Relevance cass . Nevertheless, I implemented the re-scoring using Lucene QueryRescorer API. Unfortunately, that can not not work with Lucene sorting. So, for the time being, I am not implementing the sorting function as it was the case with Rm3reranker. Let me know what you think.

[2019-04-07 11:10] lintool commented on #422
Hi @aalbahem thanks for your contributions!

1. Do you have effectiveness results?
2. Can you send a PR for me to look at?

[2019-04-15 05:13] lintool opened #592 "Partial replication failure on ClueWeb12-B13 for ax models"
According to #590 @matthew-z wasn't able to replicate results with ax models on ClueWeb12-B13. We should look into this...

[2019-04-17 13:48] matthew-z commented on #592
Somehow the AX results matched after indexing again with oracle JVM (1.8.0_201)....

[2019-04-17 19:07] lintool commented on #592
Interesting.

Hypothesis is that pseudo-random number generation works differently in OpenJDK vs. Oracle JVM. This would explain the differences in ax results, which rely on sampling docs.

@matthew-z Just to be clear, with Oracle JVM you are able to replicate our figures *exactly*, while with OpenJDK you come close? (If so, how close is "close" in the latter case?)

[2019-04-18 11:13] matthew-z commented on #592
Did you mean no-AX algorithms?   They matched exactly I remember. sorry, the openJDK results have been covered by the oracle ones. I will try openjdk again.

[2019-04-18 11:20] lintool commented on #592
Okay, thanks! I'll send a PR to capture this discussion and ask you to review.

[2019-04-18 22:05] lintool commented on #592
@matthew-z please look at https://github.com/castorini/Anserini/pull/594

[2019-04-18 23:08] lintool commented on #592
Resolved with #594, closing.

[2019-04-18 23:08] #592 closed

[2019-04-22 14:37] lintool commented on #580
Addressed by https://github.com/castorini/anserini/pull/595

[2019-04-22 14:37] #580 closed

[2019-04-22 17:27] lintool opened #599 "Instructions/data to replicate doc2query on MS MARCO"
@rodrigonogueira4 is going to release dataset and instructions for the doc2query baseline from https://arxiv.org/abs/1904.08375

[2019-04-24 13:46] lintool commented on #434
Closing this issue. We've already figured this out in the context of the [The Open-Source IR Replicability Challenge (OSIRRC 2019)](https://osirrc2019.github.io/).

Anserini docker image here: https://github.com/osirrc2019/anserini-docker

[2019-04-24 13:46] #434 closed

[2019-04-25 11:06] lintool opened #602 "Build Python wrapper to Anserini collection API"
Which will allow us to, for example, iterate through documents in a collection, without reimplementing all the collection parsing gunk.

[2019-04-25 15:54] lintool commented on #498
pyjnius seems to be working well, so we'll stick to it for now...

[2019-04-25 15:54] #498 closed

[2019-04-25 15:55] lintool opened #604 "Determine overhead of pyjnius"
We should compare retrieval from native Java vs. retrieval using pyjnius from Python to find out the overhead.

[2019-04-25 16:01] lintool opened #605 "BERT integration using javacpp-presets"
Interesting possibility: [javacpp-presets](https://github.com/bytedeco/javacpp-presets/tree/master/tensorflow) contains TensorFlow bindings.

This means that, in theory, we can run BERT inference directly from Java.

[2019-04-25 16:03] lintool commented on #435
No plans in the near future to work on this, closing for now.

[2019-04-25 16:03] #435 closed

[2019-04-30 09:56] lintool commented on #602
@emmileaf as you're working your way through the collection API, please add test cases per #371

[2019-04-30 09:58] lintool opened #615 "RRF between RM3 and Ax"
As a simple experiment, let's trying running RRF between RM3 and Ax: this package seems to already have RRF implemented: https://github.com/joaopalotti/trec_tools

@emmileaf this might not make much sense right now, but I'll walk you through this...

[2019-04-30 19:36] emmileaf opened #617 "Colon in filename not supported by Windows file system"
Windows file system does not accept colon in filenames. `SearcherThread`'s `outputPath` is constructed using `taggedSimilarity.tag`, which may contain colons for specifying params.

https://github.com/castorini/anserini/blob/d7c6ac1c00629b21999bf4238c3e50cfd7d0f3b7/src/main/java/io/anserini/search/SearchCollection.java#L323-L324

https://github.com/castorini/anserini/blob/d7c6ac1c00629b21999bf4238

[2019-05-01 14:34] emmileaf opened #619 "Tests failing on Windows from file deletion issues"
Example of errors (Windows 10 x64):

[code]
[code]
A hypothesis is that on Windows, `LuceneTestCase`'s `tearDown();` method and temp file deletion are sometimes failing because file handles are not closing properly.

[https://lucene.apache.org/core/7_3_0/core/org/apache/lucene/store/FSDirectory.html](url)

Tweak: affected test cases are able to pass on Windows after adding a call for garbage colle

[2019-05-01 15:31] #617 closed

[2019-05-01 15:31] #619 closed

[2019-05-05 11:49] aalbahem commented on #365
@lintool I am implementing a couple of relevance models for my research, so I would like to implement this.

[2019-05-07 05:57] ABDULAZIZALQATAN commented on #45
Dear Sir
I am trying to run Anserini Commands on TREC CommonCore 2017
[https://github.com/castorini/anserini/blob/master/docs/experiments-core17.md]

The problem is that the main class cannot be detected

![1](https://user-images.githubusercontent.com/47518534/57275075-38639880-7095-11e9-8643-5a656225a711.jpg)
It might be from here "Class path" or somthing relted to it

![4](https://user-images.gi

[2019-05-07 06:01] ABDULAZIZALQATAN opened #631 "Anserini - The main class cannot be detected"
Dear Sir
I am trying to run Anserini Commands on TREC CommonCore 2017
https://github.com/castorini/anserini/blob/master/docs/experiments-core17.md
The problem is that the main class cannot be detected

![image](https://user-images.githubusercontent.com/47518534/57275283-f4bd5e80-7095-11e9-9cfb-0075127a7e0a.png)
It might be from here "Class path" or somthing relted to it
![image](https://user-image

[2019-05-07 13:18] lintool commented on #631
Can you try running from the command line instead of from IntelliJ?

[2019-05-07 13:20] lintool opened #632 "Tuning bug: b1 and k transposed"
I caught a bug here:
https://github.com/castorini/anserini/blob/master/src/main/python/msmarco/retrieve.py

should be k1 and b...

Also:
I transposed `b1` and `k`:
https://github.com/castorini/anserini/blob/master/src/main/python/msmarco/tune_bm25.py

So everything is messed up...

I'll fix and retune.

[2019-05-07 13:32] ABDULAZIZALQATAN commented on #631
Thanks sir for response
Tried with Windows Command Line - Ubuntu Terminal - Cygwing Command Line - Intellj Maven >>> many things tried over days
I would be grateful if you help
Regards

[2019-05-07 13:37] lintool commented on #631
Can you copy and paste your command-line invocation and the error you get? @emmileaf might be able to help - she's a Windows user also.

[2019-05-07 13:46] ABDULAZIZALQATAN commented on #631
Command
[code]
Error
![error](https://user-images.githubusercontent.com/47518534/57304178-c2802100-70d6-11e9-8b4c-940f2d4a7770.png)

Suggestion
![4](https://user-images.githubusercontent.com/47518534/57304205-d0ce3d00-70d6-11e9-9d9e-77e5b130422b.jpg)

No problem with windows
![3](https://user-images.githubusercontent.com/47518534/57304269-eb081b00-70d6-11e9-8a43-4062df30aec9.jpg)

[2019-05-07 14:15] emmileaf commented on #631
Hi @ABDULAZIZALQATAN,
Unfortunately I wasn't able to replicate the problem on Windows 10... what version of maven are you using? Could you check perhaps if the classpath contains `"$REPO"/io/anserini/anserini/0.4.1-SNAPSHOT/anserini-0.4.1-SNAPSHOT.jar` ?

[2019-05-07 14:24] ABDULAZIZALQATAN commented on #631
Maven Version
![8](https://user-images.githubusercontent.com/47518534/57307245-235e2800-70dc-11e9-9ff2-b4bb6d21c979.jpg)

Class path
![7](https://user-images.githubusercontent.com/47518534/57307295-396be880-70dc-11e9-96ce-7750d2f3af11.jpg)

[2019-05-07 15:32] emmileaf commented on #631
Are you building the package from command line or IntelliJ? I wonder if this might be an IntelliJ Maven issue...

Not sure if you've already done this, but perhaps you could try installing Maven 3.3+ separately from IntelliJ, add it to `PATH`, and run  `mvn clean package appassembler:assemble` from command line?

[2019-05-07 16:04] Peilin-Yang commented on #631
We should build a Docker file/registry to avoid such issues

[2019-05-07 21:50] r-clancy opened #633 "ElasticSearch Integration with Anserini"
Much like we have with Solr, we should look into ElasticSearch integration for Anserini to exploit the distributed indexing, visualization interfaces, etc.

- Explore indexing to ElasticSearch REST API ([Solr](https://github.com/castorini/Anserini/blob/master/src/main/java/io/anserini/index/IndexCollection.java#L285)).
- Change ES BM25 parameters to match Anserini ([here](https://github.com/castor

[2019-05-07 23:56] r-clancy commented on #558
Do we still need this after adding https://github.com/castorini/anserini/pull/600?

[2019-05-09 01:02] sujitpal opened #634 "installation issue: ndeval.c does not compile"
The command under the Getting Started section:

```cd ndeval && make```

fails with compilation error on Mac OS Sierra 10.12.6. Output of ```gcc --version``` is as follows:

[code]

Problem is on line 1435 of ndeval.c it was:

``` printf (helpText); ```

should be:

``` printf("%s", helpText); ```

[2019-05-09 01:43] lintool commented on #634
I get warnings but the build does succeed:

[code]

I am on macOS Mojave 10.14.4:

[code]

[2019-05-09 04:04] ABDULAZIZALQATAN commented on #631
Thanks Emily for your support >>>  You were right >>> I installed the latest MVN and Java JDK
when I run `mvn clean package appassembler:assemble`
I get the following error >>>
I will try to do my best to resolve with you and tell the others the reson behind that

![9](https://user-images.githubusercontent.com/47518534/57426415-fcf0d780-7216-11e9-8229-327d19add3b0.jpg)

Some of the report files at

[2019-05-09 04:50] emmileaf commented on #631
This looks similar to what I had encountered in issue [#619](https://github.com/castorini/anserini/issues/619).

There seems to be a Windows specific file deletion problem for some of the tests... perhaps you can try the tweak from [#619](https://github.com/castorini/anserini/issues/619) for tests that are failing for you and see if that resolves the error?

Building with `-DskipTests` can also sk

[2019-05-09 05:06] ABDULAZIZALQATAN commented on #631
Thanks again for support >>> It looks like that this is very easy for you :)
after skipping tests and we override test problem the following error occurs
![10](https://user-images.githubusercontent.com/47518534/57428492-8eb11280-7220-11e9-9ce9-41280d412294.jpg)

[2019-05-09 14:29] sujitpal commented on #634
Ah, okay, I missed that, sorry about the false alarm. Regardless, might be good to get rid of the warning unless you are depending on that somewhere else (which seems doubtful). Closing this since this is not a problem, thanks for looking into it.

[2019-05-09 14:29] #634 closed

[2019-05-09 22:33] #632 closed

[2019-05-10 09:57] ArthurCamara opened #637 "Tiny Indexes performance"
We are running experiments on a small collection, that will generate multiple, tiny indexes, that will be used for one single query.

Simply put, we just want to use Anserini's implementation of BM25+RM3, instead of having to index these collections on disk.

Two options came into mind:
1- Some API call that would directly call BM25+RM3 on the Anserini backend
2- Use Lucene's MemoryIndex

Which on

[2019-05-10 11:13] lintool commented on #637
Do you really want lots of tiny indexes? In Lucene, it is possible to say, "search query q, but only rank the following subset of doc {d1, d2, ...}"

If you really want lots of tiny indexes, Lucene's MemoryIndex is probably the way to go.

[2019-05-10 11:16] ArthurCamara commented on #637
The first one would work. How do Anserini deals with passing arguments to the Lucene backend?

[2019-05-10 11:18] ABDULAZIZALQATAN commented on #631
![12](https://user-images.githubusercontent.com/47518534/57523675-8559a000-731d-11e9-8795-84b7d7a60a39.jpg)

Thank GOD it works >>> when I change my Java JDK Version and Skip Tests
Thanks for your amazing support

[2019-05-10 11:48] lintool opened #639 "Reimplement MS MARCO retrieve.py script in Java"
Currently, MS MARCO retrieval is performed by this Python script `src/main/python/msmarco/retrieve.py`

I'd make sense to reimplement this in Java, where it's probably easier to add in features like multithreading.

Would also be an opportunity to understand #604

[2019-05-10 11:55] lintool commented on #631
If you're able to replicate our results, please feel free to contribute a short log entry, just like: https://github.com/castorini/anserini/blob/master/docs/experiments-core17.md

<img width="536" alt="Screen Shot 2019-05-10 at 7 54 34 AM" src="https://user-images.githubusercontent.com/313837/57525489-e0c56700-72f8-11e9-9ba2-0dc075000b2c.png">

Send a pull request and we'll merge.

Otherwise, best

[2019-05-10 11:55] #631 closed

[2019-05-11 17:01] lintool opened #641 "Unit tests for CAR"
@Victor0118 says:

from: https://github.com/castorini/anserini/pull/640

We should implement unit tests for CAR and make sure there aren't any bugs in the topic reader...

[2019-05-11 19:09] lintool commented on #602
Hi @emmileaf this is a good start here:
https://github.com/emmileaf/anserini/tree/python-collection/src/main/python/segment_collection

So, I'm thinking that the collection wrapping code can start moving into a central lib in `src/main/python/io/anserini/collection`?

Such that we'll be able to do things like:

[code]

And support the appropriate idioms for using threadpools...
I think it's import

[2019-05-13 01:16] lintool commented on #604
We have to have a preliminary answer to this?
https://github.com/castorini/anserini/pull/644

[2019-05-14 05:24] ABDULAZIZALQATAN opened #646 "Core 18 WAPO - Many Document Vectors are not Sorted (Null Term Frequency ) is this Normal?"
Dear Sir
I ran retrieval method on Core18 as mentoined in this website
there are many document vectors that were not sorted >>> is this normal ? specially when I saw your code this situation happens when Term Frequency is null or something wrong with it for a specific document

![1](https://user-images.githubusercontent.com/47518534/57672580-a6b5d700-7610-11e9-984c-ad33830d13d9.jpg)

![Code Not So

[2019-05-15 07:09] ABDULAZIZALQATAN opened #647 "Error During Training Classifier"
I am currently replicating the experiment of h2oloo Group
on this stage : "Training and Generating Classifier Results"
I got a error while I was running the following command :
[code]
After following the exact steps for that I got the following  :
![Training](https://user-images.githubusercontent.com/47518534/57755352-a4bf4700-76e8-11e9-922e-ece00f6b0257.jpg)

Any idea how to overcome this one

[2019-05-15 11:42] lintool commented on #647
What does Google say when you search for the error? Sorry, I don't have any experience running Python on Windows... however, this appears to be a lightgbm issue, so you can try disabling it?

[2019-05-16 12:16] ABDULAZIZALQATAN commented on #647
Sure Sir
I googled it and I am still googling >> one of the ideas is to shorten the path by putting the project under C directly
I will try to resolve it and tell everybody here what I did
Thanks for your ccoperation and patience
Regards

[2019-05-16 14:21] yangwanning commented on #637
Also wondering how to do with first way which specify a certain set of docs when search a certain query q. Can you please show the way to do that? Thanks!!

[2019-05-17 00:19] ABDULAZIZALQATAN commented on #647
Dear All
The problem is resolved easily by installing the latest
**Microsoft Visual C++ Redistributable for Visual Studio 2019**
From The Following Link :
[https://visualstudio.microsoft.com/downloads/](https://visualstudio.microsoft.com/downloads/)
because the latest lightgbm is included in it >>> I used pip to install it and that arose the issue >>> just Install redistributable c++ or any other

[2019-05-17 00:45] lintool commented on #647
Glad you sorted the issue out. Closing.

[2019-05-17 00:45] #647 closed

[2019-05-19 13:12] rodrigonogueira4 opened #648 "Cannot build"
After I type:
mvn clean package appassembler:assemble

I get the following error:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 7.965 s
[INFO] Finished at: 2019-05-19T09:06:52-04:00
[INFO] Final Memory: 31M/1583M
[INFO] -------------------------

[2019-05-19 13:15] lintool commented on #648
Try cleaning the Maven cache?
https://stackoverflow.com/questions/7408545/how-do-you-clear-apache-mavens-cache

[2019-05-19 13:19] rodrigonogueira4 commented on #648
I now get a different error:

$ rm -r /home/rfn216/.m2/
$ mvn clean package appassembler:assemble

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 2.129 s
[INFO] Finished at: 2019-05-19T09:16:42-04:00
[INFO] Final Memory: 26M/1583M
[INFO] ---------

[2019-05-19 13:24] lintool commented on #648
Hrm. I just did:

[code]
Cannot appear to replicate your behavior:

[code]
Some maven oddness...

[2019-05-20 04:04] ABDULAZIZALQATAN opened #651 "read term vctor"
Dear Sir
Is there anyway to read the generated binary Document Vectors and Term Vectors ?
Is it involved in your Feature Extractor ?

![FeatureExtractor](https://user-images.githubusercontent.com/47518534/57996016-0dc60680-7abd-11e9-8690-edbb53239717.jpg)

![2](https://user-images.githubusercontent.com/47518534/57996027-1fa7a980-7abd-11e9-82a0-1b1301dc0be0.jpg)

[2019-05-20 04:07] ABDULAZIZALQATAN commented on #651
Dear Sir
Is there anyway to read the generated binary Document Vectors and Term Vectors ?
Is it involved in your Feature Extractor ?

![FeatureExtractor](https://user-images.githubusercontent.com/47518534/57996016-0dc60680-7abd-11e9-8690-edbb53239717.jpg)

![2](https://user-images.githubusercontent.com/47518534/57996027-1fa7a980-7abd-11e9-82a0-1b1301dc0be0.jpg)

[2019-05-20 18:05] it21208 opened #652 "IndexUtils fails with collection indexed with my own Lucene Indexer"
I have indexed a collection using my own lucene indexer (not Anserini indexer) and then I am trying to use the IndexUtils from Anserini to print some stats about the collection with this command:
$  target/appassembler/bin/IndexUtils -index pubmedindex -stats
Where pubmedindex is the folder that contains the indexed collection. Below is a screenshot of what I get back.
![Screenshot from 2019-05-20

[2019-05-21 00:57] ChrisRBXiong opened #653 "Build Error"
I am using the aliyun maven repository, and can not build the project. Is my usage correct? Thansk a lot !

after I type:
`mvn clean package appassembler:assemble -e`

I get following error:

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
Downloading from alimaven: http://maven.aliyun.com/nexus/content/repositories/apache-snapshots/org/apache/maven/plugins/maven-compiler-p

[2019-05-21 04:43] Peilin-Yang commented on #653
[code]

It seems you are not using the default maven repository.
(Also, the latest stable Maven version is 3.6.1).
Could you please try to switch to the default repo? The guide is at https://maven.apache.org/guides/mini/guide-multiple-repositories.html

[2019-05-21 05:22] Peilin-Yang commented on #592
I am not sure, but this is unlikely IMO.
I am going to test it again by myself

[2019-05-21 14:44] Peilin-Yang commented on #652
Can you please tell us how did you build your own Lucene index?
Specifically, what are the fields you had used?
What I can see is that https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexUtils.java#L157 reads the terms in the `contents` field.
My guess is that there is no such field in your index

[2019-05-21 18:17] lintool commented on #651
Check out this test case:
https://github.com/castorini/anserini/blob/master/src/test/java/io/anserini/integration/IndexerTest.java#L166

It should have everything you need...

[2019-05-21 18:20] lintool commented on #652
Anserini index inspection tools are really only designed to be used on indexes created by Anserini, to make sure that the metadata (e.g., field definitions) are correct.

If you are looking for a more general Lucene index inspection tool, I can recommend Luke:
https://medium.com/@mocobeta/luke-become-an-apache-lucene-module-as-of-lucene-8-1-7d139c998b2

[2019-05-22 01:33] emmileaf commented on #515
Most of these (304 documents) originate from photograph captions with no text within body tags, which is what contents of a NYT document are currently defined as. Because of this, they are treated as empty documents in the collection and are not indexed.

In these documents, the `articleAbstract` and `headline` fields contain potentially useful text. Would we want to define the contents of NYT doc

[2019-05-22 01:50] lintool commented on #515
@emmileaf there's only one way to find out!

Try this and run a retrieval experiment and see if AP or other metrics go up...

[2019-05-23 11:17] it21208 commented on #652
Thanks for the reply. So I added some fields in order to much the fields that I have in my index and then I managed to run successfully the stats command as well as the printTermInfo
![Screenshot from 2019-05-23 12-05-33](https://user-images.githubusercontent.com/11080193/58248161-539bfc80-7d53-11e9-8668-3fc84067ab4f.png)
![Screenshot from 2019-05-23 12-08-36](https://user-images.githubusercontent

[2019-05-23 13:01] lintool commented on #653
I'm assuming this has been resolved? Please reopen otherwise.

[2019-05-23 13:01] #653 closed

[2019-05-23 13:04] lintool commented on #652
`-dumpAllDocids` is looking for a field that doesn't exist in your index, see:
https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexUtils.java#L298

[2019-05-23 13:05] lintool commented on #651
I'm assuming this has been resolved? Closing, but re-open otherwise.

[2019-05-23 13:05] #651 closed

[2019-05-23 13:30] it21208 commented on #652
Hello thanks for the reply. I had noticed the getAllDocids method, and I also changed the FIELD_ID field (both in the IndexUtils class but also in the LuceneDocumentGenerator class where the construction of the document takes place) with my corresponding field  FIELD_DOCNUM (which is exactly the same StringField) and also with another field of mine (which also exists in my index) that contains eve

[2019-05-23 13:39] it21208 commented on #652
Also, something additional which I noticed with other option that involve specific docids is that the docid is an integer and I receive error message saying docid entered is -1 and it should be greater than zero and smaller than reader.maxDoc() which correctly finds the total number of documents indexed. Is there a possibility that I might be facing an incompatibility/mismatch between data types (

[2019-05-23 13:43] lintool commented on #652
tbh, if you're thinking of using Anserini beyond just `IndexUtils` (take advantage of our models, etc.) - I would prefer if you just hooked into our entire pipeline - build an instance of a `Collection` so you can use our indexer, ranking models, etc.

It looks like you're trying to index a MEDLINE collection? We'd welcome a contribution for those corpora.

I'm not sure what your goals are, but ev

[2019-05-23 14:52] emmileaf commented on #646
For the Washington Post Collection, body content is currently defined by text having content type of `sanitized_html` or `tweet`. Around 4% of Core18 documents have empty body content (e.g. images) so no term vector is created, but other parsed fields such as title are stored and the document is not skipped over.

My guess is that when the axiomatic reranker selects a set of R*N document ids, the

[2019-05-25 12:05] lintool opened #654 "Improved processing of WashPost fields?"
A follow up on: https://github.com/castorini/anserini/issues/646#issuecomment-495253072

It might make sense to try to append the title to the body content so that at least something is indexed?

@emmileaf can you look in the qrels file and see if any of docids are relevant?

[2019-05-25 12:06] lintool commented on #646
@emmileaf Thanks for looking into this, I've created #654 as follow up, but this issue seems like its resolved.

[2019-05-25 12:06] #646 closed

[2019-05-30 12:00] lintool commented on #615
@emmileaf you showed me some results on this? Can you post to this thread?

[2019-05-30 12:03] lintool opened #657 "Implement additional relevance feedback models"
For example, from - York University at TREC 2009: Relevance Feedback Track
https://trec.nist.gov/pubs/trec18/papers/yorku.RF.pdf

Which is one of the comparison conditions in:
https://www.aclweb.org/anthology/papers/D/D18/D18-1478/

[2019-05-30 13:57] emmileaf commented on #615
__Robust04:__

|     | BM25+AX | BM25+RM3 | BM25+AX+RM3 (RRF) | P-value (Base: BM25+AX) | P-value (Base: BM25+RM3) |
|-----|:-------:|:--------:|:-----------------:|:-----------------------:|:------------------------:|
| MAP |  0.2895 |  0.2903  |       0.2963      |         0.019821        |         0.024997         |
| P30 |  0.3333 |  0.3365  |       0.3410      |         0.037711        |

[2019-05-30 13:58] lintool commented on #615
@emmileaf Thanks! Can you try the other fusion methods offered by the package?

[2019-05-30 14:28] emmileaf commented on #615
For sure- I'll add to this thread.

[2019-05-30 17:48] emmileaf commented on #654
I've had some issues replicating [experiments-core18.md](https://github.com/castorini/anserini/blob/master/docs/experiments-core18.md) and think it might be related to this...seems like body content had more fields appended to it pre-#593?

@r-clancy Do you have any other dependencies on a paragraph-only content field? It looks like term vectors are only created from the contents field (FIELD_BODY

[2019-05-30 17:51] lintool commented on #654
Hrm. So a regression broke, huh? And made results worse?

Yes, I agree... clean up but add those fields back in?

[2019-05-30 18:00] r-clancy commented on #654
I'll push a fix tonight adding the fields back and clean-up the original parsing issues.

[2019-05-31 13:42] lintool opened #658 "Core18 (Washington Post) regression failure"
@emmileaf reported a regression failure in #654 but exposing here at top level so this doesn't get buried.

@emmileaf can you copy and paste the regression log in this issue?

[2019-05-31 13:47] emmileaf commented on #658
Previous index:

[code]
Current index:
[code]

[2019-05-31 14:06] emmileaf commented on #615
Other fusion methods from [trectools](https://github.com/joaopalotti/trectools/blob/master/trectools/fusion.py):

#### Rank Biased Precision

Robust04:

|     | BM25+AX | BM25+RM3 | BM25+AX+RM3 (RBP) | P-value (Base: BM25+AX) | P-value (Base: BM25+RM3) |
|-----|:-------:|:--------:|:-----------------:|:-----------------------:|:------------------------:|
| MAP |  0.2895 |  0.2903  |       0.2682

[2019-05-31 14:08] lintool commented on #615
so tl;dr - is that RRF still works the best?

[2019-05-31 14:09] r-clancy commented on #658
I reverted the commit (https://github.com/castorini/anserini/commit/c4ab6bfbe38648337ad824503e8945f5111ac673) and removed the `Optional` wrapper around the title, but there appears to be some documents that have no title and no paragraph content. When unwrapping the `Optional` for the `title` and adding it to `contents`, we now have additional empty documents (where before it likely indexed `Optio

[2019-05-31 14:15] emmileaf commented on #615
Yup looks like it, at least for default params/etc. from the package.

[2019-05-31 15:02] Impavidity opened #659 "PerFieldAnalyzer feature request"
Can we add a feature about multi fields indexing:
- Define which fields will be indexed in an json object
- Define which analyzer will be applied to a specific field. Maybe some of them will not be tokenized.

A configuration file will be used here?

[2019-05-31 15:46] emmileaf commented on #658
The first option and removing the `Optional[]` wrapper makes sense to me 🙂

Regarding the empty docs...I think some of them are actually somewhat empty in content, such as:
[code]

[code]

If we want to have minimal empty docs by adding to content, perhaps we can try `author` or some text form of `published_date`? (though this would change the regression numbers as well, and not sure if it would m

[2019-05-31 16:59] lintool commented on #658
I think @r-clancy 's fix lg - the AP/P30 differences are noise, I think...

Let's try this and see and see what we get in terms of regression numbers?

[2019-05-31 17:01] lintool opened #660 "Anserini 0.5.0 release?"
Thoughts about cutting a 0.5.0 release? @r-clancy @emmileaf @Victor0118 @Peilin-Yang

We'd use this for OSIRRC. Folds in all the code for SIGIR.

Blocks on #658 though

[2019-05-31 17:23] lintool commented on #659
👍 to this idea

This would really only be applicable for JSON collection right? For all the standard ones (Robust04, NYT, ClueWeb, etc.) it'll just be hard-coded?

[2019-05-31 18:12] #658 closed

[2019-05-31 18:14] r-clancy commented on #654
@lintool I think this one can be closed now since the `title` (and `kicker`) are added to the body content?

[2019-05-31 18:15] r-clancy commented on #660
Sounds good to me now that #658 is fixed.

:ship:

[2019-05-31 18:18] lintool commented on #660
Okay, there's a CAR patch I need to make per #641 - I'll then need to rerun all regressions from scratch cw12 full takes two days, so we're probably talking about mid-week next week for release. FYI in terms of planning for OSIRRC.

[2019-05-31 19:04] lintool commented on #660
The other major addition is Anserini -> Solr ingestion right? I'm going to verify that it works... can we get @emmileaf to test also to get independent verification?

[2019-05-31 19:08] r-clancy commented on #660
The Solr integration was mainly 0.4.0, I think 0.5.0 just contains some tweaks. Either way, it's good to sanity check it.

[2019-05-31 22:09] lintool commented on #639
Completed!

[2019-05-31 22:09] #639 closed

[2019-05-31 22:14] lintool commented on #660
We should try to fix #515 also? @emmileaf

[2019-05-31 22:16] lintool commented on #602
Initial implementation completed, closing for now.

[2019-05-31 22:16] #602 closed

[2019-05-31 22:16] lintool commented on #652
Seeing no follow up, closing.

[2019-05-31 22:16] #652 closed

[2019-05-31 22:41] emmileaf commented on #660
Yup, I can send in a PR for #515 for Monday.

[2019-05-31 23:50] #654 closed

[2019-06-01 20:54] lintool commented on #641
Ref: https://github.com/castorini/anserini/pull/665

[2019-06-01 21:04] lintool opened #667 "Refactoring Collection API"
Looking at the current structure of the Collection API, I'm a bit puzzled as to why it was designed this way... perhaps it's accumulated debt?

It seems like the conceptual organization is as follows: A collection is comprised of segments. Each segment is backed by a file and provides an iterator of documents.

So, this definition makes complete sense:

[code]

But why doesn't `DocumentCollection`

[2019-06-03 12:27] #515 closed

[2019-06-03 12:29] lintool commented on #615
Merging of #658 unblocked Core18
Per #668, Core17 probably needs to be rerun

[2019-06-03 17:58] emmileaf commented on #660
For the sanity check- I was able to successfully set up solrini by following the [doc](https://github.com/castorini/anserini/blob/master/docs/solrini.md).

[2019-06-03 19:03] rodrigonogueira4 opened #669 "Run Anserini baselines on AI2 citation prediction task (OpenResearch corpus)"
The corpus contains 45M academic papers and the task is to predict which papers should be cited in a paper given its title and/or abstract as input.

https://api.semanticscholar.org/corpus/

We should compare our results against the BM25 implementation from this paper (table 2):
https://arxiv.org/pdf/1802.08301.pdf

[2019-06-03 19:35] lintool commented on #660
Merged in #665

Release candidate for v0.5.0 https://github.com/castorini/anserini/commit/3545350f3a12bd55a616e41057aa51d3b5cfaed2

Will proceed to run all regressions from scratch and report back.

[2019-06-03 21:17] emmileaf commented on #615
- Results re-run and edited in comments above.
- TLDR from updated results: RRF still the most effective, but does not perform as well on core17/core18 compared to robust04.

[2019-06-03 22:49] lintool opened #670 "Simplify Ax feedback model"
The Ax feedback model currently depends on computing MI with respect to a working set: (N − 1) × R documents (assumed non-relevant) randomly sampled from the collection, excluding the first R documents.

See: https://cs.uwaterloo.ca/~jimmylin/publications/Yang_Lin_ECIR2019.pdf

Here's one idea to simplify the implementation - instead of sampling the working set, just use the entire collection as t

[2019-06-04 01:33] lintool opened #673 "Indexing wikidata using Lucene"
We've already implemented classes for indexing Freebase in Lucene:
https://github.com/castorini/anserini/blob/master/docs/freebase.md

Let's apply to same basic idea to Wikidata?

We probably want to adopt the "node" as a document approach (as opposed to indexing each triple separately). Otherwise we'd bump into the max doc limit in Lucene.

Once this is implemented, it'd be interesting to compare

[2019-06-04 11:29] lintool commented on #637
@yangwanning sorry for the late reply - must have missed this.

Check out -

https://github.com/castorini/anserini/blob/master/src/test/java/io/anserini/integration/IndexerTest.java#L213

The trick is to add a query that only matches on a particular document. You can make it a boolean OR to match on multiple documents.

[2019-06-04 17:05] rodrigonogueira4 commented on #669
Update: I was able to reproduce the F1@20 from https://arxiv.org/pdf/1802.08301.pdf but not their MRR.

F1@20: 0.059 (Anserini BM25) vs 0.058 (Whoosh BM25, Bhagavatula et. al, 2018)
MRR: 0.148 (Anserini BM25) vs 0.218 (Whoosh BM25, Bhagavatula et. al, 2018)

I will send a PR as soon as I find the reason for the MRR discrepancy.

[2019-06-04 17:34] bazingagin opened #675 "Run BM25 baselines on BioASQ"
BioASQ is about biomedical indexing and QA. Data is available here:
http://participants-area.bioasq.org/

We should compare our results against the BM25 implementation from this paper:
https://www.aclweb.org/anthology/D18-1211

[2019-06-04 18:01] lintool commented on #669
If it isn't too hard, try Whoosh also just to isolate the differences?

[2019-06-05 11:31] lintool opened #676 "Build baselines for TREC 2019 DL Track"
Official corpus has been released! https://github.com/microsoft/TREC-2019-Deep-Learning

[2019-06-05 13:22] lintool commented on #676
@rodrigonogueira4 since the corpus is also Tsv, should we build a specific collection reader into Anserini so that we don't have to convert first to Json?

[2019-06-05 16:04] rodrigonogueira4 commented on #676
@lintool, It makes sense, but the expanded docs from doc2query would still need to be indexed the json converter, right? We could add an argument for the collection reader pointing to the expansion terms, but that might be confusing to the users.

[2019-06-05 16:09] rodrigonogueira4 commented on #669
Good idea, I will try it.

[2019-06-05 16:14] rodrigonogueira4 commented on #669
One potential cause for the difference in MRR is that we only use the title as query whereas Bhagavatula et. al (2018) mention in appendix D that they use title AND abstract as query.

They use whoosh's `key_terms_from_text` method to extract terms from the query in order to make it shorter. Does anyone know an equivalent function in Anserini?

[2019-06-05 17:26] lintool commented on #669
Nope, although we can use Whoosh to generate the queries, and then throw into Anserini? If that turns out to be the difference, we can reimplement in Java?

[2019-06-05 17:31] rodrigonogueira4 commented on #669
Sound good!

[2019-06-05 18:46] emmileaf commented on #667
`SegmentProvider` offers something similar to `getSegments`, represented as a list of paths:
https://github.com/castorini/anserini/blob/7fd1f648dcdd196cda436bb6af129c015dbdb9b6/src/main/java/io/anserini/collection/SegmentProvider.java#L29-L38

I agree that these methods can move to the `DocumentCollection` abstract class instead, getting rid of the interface. However, from #331  and #332  it seems

[2019-06-05 19:19] lintool commented on #660
At commit `3545350` (6/3/2019) - the following regressions all successfully completed:

[code]

All commits thereafter is documentation only.

Proceeding to cut v0.5.0 release.

[2019-06-05 20:49] lintool commented on #660
Release successful: https://search.maven.org/artifact/io.anserini/anserini/0.5.0/jar

Closing issue.

[2019-06-05 20:49] #660 closed

[2019-06-05 20:55] lintool opened #678 "Simplify pyjnius configuration - jar import"
Currently, we need to do something like this:

[code]

Our scripts have the jar hardcoded... is there some auto-config magic we can do?

[2019-06-05 21:21] lintool commented on #667
I agree we should make the collection/segment/document relationship explicit, but I don't think the current design does that... for example, in theory we could have a collection without a provider... and classes other than collections can implement the provider... which may be confusing.

IIRC, we originally considered the possibility of other types of segments... segments backed by a file, segmen

[2019-06-05 22:43] lintool opened #679 "Upgrade to Lucene8"
Next decision we need to make... upgrade to Lucene8? It's a matter of _when_.

Lucene8 promises to be faster: https://github.com/castorini/anserini/blob/master/docs/lucene7-vs-lucene8.md

However, Lucene8 yields a whole slew of changes to regression numbers... and will likely break a bunch of things.

My recommendation is to rip the bandaid off, accept that things are going to be broken for a bit,

[2019-06-05 23:00] r-clancy commented on #667
As of Java 8, interfaces can have `static` and `default` methods (see [here](https://www.baeldung.com/java-static-default-methods)). Could the `discover` method be implemented as such in `DocumentCollection` to get rid of the extra helper class?

Otherwise, makes sense to me.

[2019-06-05 23:07] r-clancy commented on #679
+1 for ripping the band-aid off, seems like a good time to do it.

- SIGIR demos - we can use the `0.5.0` release as the new index type in Lucene 8 will likely effect the results
- `anserini-docker` is now using `0.5.0`
- ElasticSearch - this should let us use the most recent ES version rather than an older one

[2019-06-05 23:31] charW commented on #679
+1. Using ES 7+ right now would be pretty cool.

[2019-06-06 00:13] rodrigonogueira4 commented on #669
I found the difference: we should not return the same that doc that originated the query. Giving title only as a query to Anserini (as opposed to title+abstract from Bhagavatula et. al), the numbers are:

F1@20: 0.063 (Anserini BM25) vs 0.058 (Whoosh BM25, Bhagavatula et. al, 2018)
MRR: 0.246 (Anserini BM25) vs 0.218 (Whoosh BM25, Bhagavatula et. al, 2018)

[2019-06-06 01:32] rodrigonogueira4 commented on #679
+1. As @lintool mentioned, now seems a good time because there is no deadline in the near future.

[2019-06-06 01:52] zeynepakkalyoncu commented on #679
+1. I agree it's a good time to introduce a considerable change so that we can work on any issues until the next deadline.

[2019-06-06 01:57] lintool commented on #637
Closing... please reopen if there are any more issues.

[2019-06-06 01:57] #637 closed

[2019-06-06 02:02] lintool commented on #222
I'm closing this for now. We'll probably want to build CAR18 regressions at some point in time, but the results are likely going to be very different from above, since codebase has evolved quite a bit...

[2019-06-06 02:02] #222 closed

[2019-06-06 02:03] rodrigonogueira4 commented on #648
After waiting a week, it magically fixed itself.

[2019-06-06 02:03] #648 closed

[2019-06-06 02:05] emmileaf commented on #667
Makes sense. Just to check I've understood correctly... right now we have
- `DocumentCollection` contains `FileSegments` which are iterators over `SourceDocuments`

and after refactoring, we would have:
- `DocumentCollection` is an iterable of `FileSegments`, which are iterables of `SourceDocuments`

Since FileSegment is currently implemented as an iterator, we'd be wrapping it into something like

[2019-06-06 02:09] lintool commented on #667
I think that's right, but without actually rolling up yourselves to do the refactoring, I don't know if there are any hidden landmines...

Here's my suggestion - revamp the subclasses, and do one impl (e.g., NYT or WaPo) - send a preliminary PR - we can take a look and give feedback... then it's just retrofitting the other collections?

[2019-06-06 02:17] lintool commented on #648
:)

[2019-06-06 03:25] emmileaf commented on #667
Sounds good, I'll give that a try first!

An additional thought: with python/java bridge in mind, what kind of document content (raw, parsed) do we want to make available through the collection API?

1. Currently `collection` and `generator` have some overlapping roles in the document processing pipeline. For example, parsing and selection of what attributes to index is done in [collection](https:

[2019-06-06 11:44] lintool commented on #667
Let's punt on this decision for now? Ideally, the collection API should only be responsible for procuring `SourceDocument`s... we can circle back and revamp the parsing/selection/to Lucene conversion as part of a "data cleaning" stage?

But I think this is closer to Option 2 above?

[2019-06-07 01:02] rodrigonogueira4 commented on #669
I created PR to reproduce these results:
https://github.com/castorini/anserini/pull/682

[2019-06-07 13:56] lintool opened #683 "Indexing status update"
Currently, during indexing, status update is by segment (file). So if a collection has only one segment, indexing log is something like this:

[code]

It says 0.00% percent all the way up until the end, when it jumps to 100.

Would be nice to have more informative logging...

[2019-06-07 14:15] rodrigonogueira4 opened #684 "Use title and abstract as query in Open Research corpus"
Similarly to [Bhagavatula et. al (2018)](https://arxiv.org/pdf/1802.08301.pdf), use the concatenation of title and abstract as a query and use Whoosh's `key_terms_from_text` method to shorten the query.

Also, it would be interesting to experiment with raw title+abstract as a query.

[2019-06-07 14:19] rodrigonogueira4 opened #685 "Try doc2query on Open Research corpus"
The recall@1000 in the Open Research task is pretty low: 0.27. We should expect a large improvement by adding a recall-oriented technique to the pipeline, such as doc2query.

[2019-06-08 13:06] mam10eks opened #688 "FeatureExtractorCli fails on collection clueweb"
If I pass `-collection clueweb` to `io.anserini.ltr.FeatureExtractorCli` it fails since the condition in line 99 checks for a collection named 'webxml '.

Later, the `WebxmlTopicReader ` package path has changed.

[2019-06-08 13:15] lintool commented on #688
@mam10eks the LTR pipeline is known to be completely broken... we've been meaning to fix, but haven't had the opportunity... perhaps you'd be willing to help? PRs welcome...

[2019-06-08 13:17] lintool opened #690 "Regressions for MS MARCO Passage Task"
@rodrigonogueira4 has written documentation on how to run MS MARCO passage, but we also need an addition to our regression suite. This will allow automated test.

I'll work on this.

[2019-06-08 13:18] lintool opened #691 "Regressions for MS MARCO Document Task"
We should build baselines and regressions the MS MARCO Document Task, for TREC 2019 DL: https://github.com/microsoft/TREC-2019-Deep-Learning

I'll work on it.

[2019-06-08 13:21] lintool commented on #679
Update: I now have all our existing regressions passing on Lucene8, in a branch called `lucene8`:

[code]

My proposal is to abandon the JDIQ regressions, because (1) the DRF model that we tested is obsolete
https://github.com/castorini/anserini/pull/586 and (2) we need better tuning scripts, improvements on the SIGIR Forum tuning experiments. By "abandon" I mean we're not going to keep these regr

[2019-06-08 13:30] mam10eks commented on #688
@lintool I would happy to help.

Do you mean the class `FeatureExtractorCli` with LTR pipeline or is there more what is broken?

[2019-06-08 13:36] lintool commented on #688
Not sure... haven't touched the pipeline in a while. We started working on it a long time ago, and then Solr came out with a LTR framework. It's been on our TODO list for a while to integrate with it.

It'd be awesome to have LTR in Anserini that (1) doesn't have Solr overhead but (2) integrates nicely with Solr when needed.

This would be a big project to take on, but if you're interested, we'd d

[2019-06-08 14:18] mam10eks commented on #688
I am definitely interested.

In order to work in small steps, I would prefer to check the `FeatureExtractorCli` first.

As far as I see, this would enable the usage of the existing FeatureExtractors (which are tested with unittests and hence probably work fine). Based on that it should be easy to train a RankLib model and inject that model into the `io.anserini.rerank.lib.RankLibReranker` for usag

[2019-06-08 14:37] lintool commented on #688
Yup, that's the idea of our LTR pipeline. If you can get it working again, that'd be great.

By "classic" LTR I mean non-neural - i.e., feature engineering - what the current pipeline is doing.

[2019-06-08 14:49] #641 closed

[2019-06-08 15:20] aalbahem commented on #657
@lintool I was about to open an issue for adding standard relevance feedback models. I actually have implemented Rocchio, RM 3, Distill model and Logistic Log feedback models on top my refactored code.

[2019-06-08 15:23] lintool commented on #657
I believe we're still missing results on https://github.com/castorini/anserini/pull/626
... where you were planning on reporting?

Can we get that merged in ASAP?

We're planning on some major upgrades, to Lucene 8 soon, per #586 ...

[2019-06-08 16:20] lintool commented on #604
Ref #692 - Fixed timing bug. The Java version is actually 2x slower, not 5x faster.
Have a hypothesis of why this is so... will follow up.

[2019-06-09 11:34] bazingagin commented on #684
The output of using title + abstract
map                   	all	0.0626
recip_rank            	all	0.3512
P_20                  	all	0.0811
recall_20             	all	0.1132
recall_1000           	all	0.3628

F1_20					0.0945

[2019-06-09 13:22] rodrigonogueira4 commented on #684
WOW!!!

This is filtering terms with `key_terms_from_text` or the simple concatenation of raw title and abstract?

[2019-06-09 13:35] bazingagin commented on #684
This is the simple concatenation :)

[2019-06-09 15:38] lintool commented on #690
Resolved by #692

[2019-06-09 15:38] #690 closed

[2019-06-09 15:40] lintool commented on #604
Interesting - these are results on `damiano`:

Java:

[code]

Python:

[code]

So, on Linux, the Java version is slightly slower.

The previous reports of Java being 2x slower than Python is on my iMac Pro.

Huh?

[2019-06-09 22:08] lintool commented on #604
Ref #695

Current implementation, running on my iMac Pro - Python version:

[code]
Java version:
[code]
These results make sense now: Python adds a small overhead.

[2019-06-10 09:38] bazingagin commented on #684
[code]

[2019-06-10 11:51] lintool commented on #684
Interesting. So Bhagavatula et. al (2018) used a technique that experiments demonstrate _not_ to help?

[2019-06-10 11:52] lintool commented on #691
Resolved per #693

[2019-06-10 11:52] #691 closed

[2019-06-10 15:32] lintool commented on #604
tl;dr - pyjnius has a relatively small, but measurable impact on latency.

[2019-06-10 15:32] #604 closed

[2019-06-10 17:08] #684 closed

[2019-06-10 17:20] lintool opened #698 "v0.5.1 - final Lucene 7.6 release"
The release candidate is https://github.com/castorini/anserini/commit/c47e9812de8c3884aefefa7dbb9862bffcd5b725

I'm going to run some regressions and report back, then do a release.
This will be the final commit on Lucene 7.6.

Unless something else comes up, we're going to hold off on additional merges to master.

@r-clancy @rodrigonogueira4 @Victor0118 @emmileaf @zeynepakkalyoncu @bazingagin

[2019-06-10 17:25] emmileaf commented on #678
Perhaps we can add a setup script like `src/main/python/pyjnius_setup.py` that searches for the latest jar file?
(I'll send a PR after the Lucene 8 merge if this idea makes sense)

[code]

Then, scripts within Anserini that use pyjnius can begin with:
[code]

Scripts outside Anserini that use pyjnius can optionally specify path to Anserini root dir:
[code]

[2019-06-10 18:29] lintool commented on #698
Updated: release candidate is https://github.com/castorini/anserini/commit/a33a961a89d78da73543550f38b647cf3baca61d

[2019-06-11 15:51] lintool commented on #698
Successfully ran the following regressions (note, without rebuilding index, reusing index from v0.5.0):

[code]

I ran the following two regressions from scratch, building the index:

[code]

And the JDIQ experiments:

[code]

Everything in order, performing v0.5.1 release now.

[2019-06-11 16:24] lintool commented on #698
Done!

[2019-06-11 16:24] #698 closed

[2019-06-12 08:02] Ricocotam opened #704 "Getting Started"
Hi,
I'm new here and I'd like to understand how this tool works.
I used ElasticSearch as my retrieval engine for the last months before finding this. It's a great project and I think using the same environment for our experiments leads to more trustworthy results.

I'm looking to some information about how to index documents.
I'm also looking how to reproduce papers like [Task-Oriented Query Refor

[2019-06-12 12:41] lintool commented on #704
If you look at our README, it contains regressions and guides on how to get started with a bunch of document collections.

In particular, what corpus are you working with?

cc @rodrigonogueira4

[2019-06-12 14:19] lintool opened #705 "Master build is broken"
See build: https://travis-ci.org/castorini/Anserini/builds/544720828

[code]

Related: https://travis-ci.community/t/the-travis-ci-build-could-not-be-completed-due-to-an-error/1345

[2019-06-12 15:06] lintool opened #710 "Upgrade JDK8 to JDK??"
#705 is a symptom of JDK8 being EOL'ed. We should upgrade... but to what?

What are the project-wide ramifications? For example, what is the recommended JDK version for Solr/Lucene/Es... and Hadoop/Spark?

[2019-06-12 15:12] lintool commented on #705
Fixed by #709

[2019-06-12 15:12] #705 closed

[2019-06-12 15:20] #679 closed

[2019-06-12 15:24] r-clancy commented on #710
JDK 11 is where we'd want to move to - it's the default version in Ubuntu 18+ currently.

Plan of action: spin up an Azure VM with Java 11 installed, cut a branch for JDK 11, and see what breaks.

[2019-06-12 15:25] lintool commented on #679
🎉 Lucene 8 has dropped!

[2019-06-12 19:31] #678 closed

[2019-06-12 20:19] lintool opened #713 "Further hiding pyjnius details"
Currently we do this:

[code]

Can we try to hide pyjnius completely? I.e., just have a `pyserini` module that wraps everything? So we wouldn't need to mess with `autoclass`, etc.

Something like:

[code]

Let's see if we can get rid of all the String/JString translations and make it "magic"?

Thoughts?

[2019-06-12 20:42] r-clancy commented on #710
The [java-11](https://github.com/castorini/anserini/tree/java-11) branch seems to compile fine on my machine (and Travis) - I'm able to reproduce a couple of the `robust04` results on my laptop.

@lintool maybe we can get Java 11 installed on `tuna` (keeping Java 8 as the default version) and run the regressions there?

[2019-06-12 20:51] lintool commented on #710
Let's leave tuna alone and run regressions on the new machine?

Additional questions - how does JDK 11 play with Solr and Spark and ES? And pyjnius?

[2019-06-12 20:55] lintool commented on #713
@Victor0118 Can you chime in here? This will impact BERTserini?

@rodrigonogueira4 @bazingagin Can you chime in also? I believe you need multi-threaded searcher for large volume datasets like OpenResearch. I'm also assuming you want to do the thread pooling on the Python end to integrate with downstream consumers (DL). Do you want to mock up what you want the interface to look like?

This will req

[2019-06-12 21:11] r-clancy commented on #710
Sounds good...

I did a quick search, everything should work fine with JDK 11 (will need to be tested to confirm):
- Solr should be fine - https://lucene.apache.org/solr/8_0_0/SYSTEM_REQUIREMENTS.html
- ES should be fine - https://www.elastic.co/support/matrix#matrix_jvm
- Spark should be fine - https://spark.apache.org/docs/latest/

As for pyjnius, @Victor0118 said he didn't come across any threa

[2019-06-12 21:25] emmileaf commented on #713
That makes sense... having a file as `src/main/python/pyserini.py` that will wrap all the autoclass usages, kind of like what we do here?
https://github.com/castorini/anserini/blob/e2d1f7b7ae8ef3c6c8e7a361b7e42fa069ba46ae/src/main/python/io/anserini/collection/pyjnius_utils.py#L1-L52

If we build a searcher interface that's more complicated than just exposing
`JSearcher = autoclass('io.anserini.se

[2019-06-12 21:27] lintool opened #714 "Update Solrini for Lucene8"
Go through the documentation and make sure Solrini still works. Update as necessary.

[2019-06-12 22:44] lintool commented on #604
Update to Lucene 8:

Python: `Retrieving query 6900 (0.054 s/query)`
Java: `Retrieving query 6900 (0.050 s/query)`

Tiny bit faster...

[2019-06-13 07:48] Ricocotam commented on #704
I'm currently working on MS-MARCO so no problem (though I have some issues reproducing regressions but I didn't put much effort in it) but I plan using custom documents from private datasets (though it's not gonna happen super soon). I just like understanding what's going on :)

Actually what I'd like to do is sending queries to the engine with small batches (like 32 queries). Using ES it was done

[2019-06-13 16:55] #714 closed

[2019-06-13 21:34] r-clancy opened #718 "Abstraction for Search Functionality"
Currently, the search code depends on Lucene internals. However, we can also index documents in Solr and Elasticsearch. This is useful for larger collections such as `cw12` in order to improve performance of queries, get access to search interfaces, etc.

Solr and Elasticsearch both expose the document scores (see below for Solr) required in order to do our search experiments - the `bm25` paramete

[2019-06-18 16:11] matthew-z opened #720 "Duplicate items in ranked list"
It is a bit difficult to describe, but if you run the default Bm25 on Robust04 with hits=50000.

[code]
Then, some docs (e.g., FT911-1 and FBIS3-21777) will appear twice in ranked output...

[code]

Then the evaluation script will fail...

[code]

Anserini version: commit 6d6013. I tried to download Disk4&5 from NIST again, but it didn't help....

[2019-06-18 16:29] lintool commented on #720
I've come across this before... as it turns out `FBIS3-21777` is a sample document included in `fbis/readmefb.txt`... which is why it's indexed twice.

I suppose we didn't add that file to the list of files to ignore while indexing. We'll look into it, but in the meantime you can fix the issue by just removing the readme, I think...

[2019-06-18 16:31] matthew-z commented on #720
I see, Thank you!

[2019-06-20 19:10] rodrigonogueira4 commented on #669
Closing this as the BM25 baseline was successfully implemented. Thanks @bazingagin !

[2019-06-20 19:10] #669 closed

[2019-06-20 20:04] rodrigonogueira4 opened #722 "Open Research: expand the list of retrieved papers with the papers they cite"
1 - Retrieve the top-100 papers using BM25 and query as the title + abstract of a paper.
2 - For each retrieved paper, collect up to 9 papers it cites. This will gives us up to 9 x 100 = 900 papers.
3 - Measure the Recall@1000 of the concatenation of the top-100 papers with these 900 papers.
4 - Check if this recall is higher than simply retrieving the top-1000 papers.

[2019-06-21 01:53] rodrigonogueira4 opened #725 "Add code and documentation for doc2query on TREC-CAR"

[2019-06-21 08:35] Ricocotam commented on #704
I read a bit more and it was pretty clear finally, just had to take more time reading, thanks for the help :)

[2019-06-21 08:35] #704 closed

[2019-06-21 08:36] Ricocotam opened #726 "Speeding Up Search"
Hi,
I'm reproducing some scripts on MS-Marco but on the whole data. I have a big cluster available and I'd like to use it properly. Currently I can only use 1 core on 1 machine (anserini doesn't exploit more), how can I change that ?

Cheers

[2019-06-23 19:55] bazingagin commented on #675
[code]
Not as high as reported in McDonald et. al, 2018:
[code]
I've already removed stop words and years>2017 but haven't used krovetz stemmer of Galago either during indexing or during searching. Although I don't think stemmer would cause that big gap. I'm still figuring out if anything else causes the gap.

[2019-06-24 15:04] lintool commented on #726
It's been on our TODO list to write some multi-threaded code... we're thinking, probably on the Python end... contributions are welcome!

For example, a multi-threaded version of https://github.com/castorini/anserini/blob/master/src/main/python/msmarco/retrieve.py would be a good start..

cc/ @rodrigonogueira4 @emmileaf

[2019-06-24 15:11] #667 closed

[2019-06-24 15:22] lintool opened #729 "Write documentation about Python document API bindings"
We need some documentation on how to use Python to access the collections? I.e., some simple skeleton code on how to iterate through all the documents in the collection...

Might make sense to append to here: https://github.com/castorini/anserini/blob/master/docs/pyserini.md

[2019-06-25 10:25] Ricocotam commented on #726
It is not possible to do multi-threaded search within Lucene ?
I'll give it a try but I guess a simple use of the `multiprocessing` module should be enough

[2019-06-25 11:03] lintool commented on #726
Yes, it is possible to do multi-threading on the Java end, and in fact, would be more efficient.

However, it is likely that the results will be integrated with DL code on the Python end, and so for tighter integration Python might be a good idea.

[2019-06-25 13:38] #517 closed

[2019-06-26 03:08] searchivarius commented on #420
Hi @Victor0118 and @lintool  thank you for providing the integration with MatchZoo. I am looking at documents describing this work: https://github.com/castorini/anserini/blob/master/docs/document-matchzoo.md However, I am confused regarding where respective training scripts can be found.

In particular, I cannot find the following scripts:
[code]

I also checked the ``castor`` repository, but in v

[2019-06-26 03:15] Victor0118 commented on #420
Hi, @searchivarius. Thanks for your interest in this work.

This integration is between Anserini and Matchzoo v1.0. So you can find the script in the MatchZoo v1.0 here: https://github.com/NTMC-Community/MatchZoo/tree/1.0

I would suggest you use my repo since I have some updates based on the code above so that we can apply MatchZoo to Robust04 and Tweet datasets: https://github.com/Victor0118/Mat

[2019-06-26 03:24] searchivarius commented on #420
Hi @Victor0118 thanks a lot for the quick reply!

[2019-06-26 09:04] Ricocotam commented on #726
Mmh, I don't know.
I think sending a batch of queries is easier, even from Python's size, rather than handling multiple search and aggregation. What ES does is actually great with the msearch interface : you send multiple queries and a json formatted answer is given.

[2019-06-26 12:05] lintool commented on #726
In that case, it makes sense to make `SimpleSearcher` multithreaded and add a batch query interface.

Would you be willing to contribute this?

[2019-06-26 12:22] Ricocotam commented on #726
Why not, I'm not fully available from next week for 2 weeks but since it's July I guess it's not urgent.

I can give it a try at least :)

[2019-06-26 12:25] lintool commented on #726
sg, thanks!

[2019-06-26 18:50] r-clancy opened #732 "Dynamic vs. Static Mapping in ES"
Currently, ES uses dynamic mapping to determine the type of fields. This caused us some issues with Solr, and appears to be happening in ES as well. For example, the `id_long` field in `mb11` (and `fullCaption` in `core18`) give the following errors because they're multi-valued:

[code]

There are a number of methods for defining the mapping (field types), so it should be investigated to see which

[2019-06-26 18:52] r-clancy commented on #732
One more action item: update the ES BM25 search parameters to match Anserini and Solr's [values](https://github.com/castorini/anserini/blob/master/src/main/resources/solr/anserini/conf/managed-schema#L527).

[2019-06-28 02:47] #729 closed

[2019-06-28 10:25] lintool opened #733 "Publish pyserini in pypi"
@emmileaf how close are we to getting pyserini in a state where it's publishable on pypi, with transparent Java integration?

[2019-06-28 15:59] emmileaf commented on #733
I think the main todo would be re-organizing into a standalone repo and adding configs/docs/etc. for pypi. Currently pyserini is set up to be a subdirectory within Anserini and was designed to be used within this folder structure.

For publishing on pypi as a standalone package for `pip install`, perhaps we could upload `anserini-*-SNAPSHOT.fatjar.jar` from the latest anserini release somewhere wi

[2019-06-28 22:08] lintool commented on #733
Let's revisit this after we cut v0.6.0 on the Java end!

[2019-06-28 23:43] Impavidity commented on #733
You can do something like this to embed the jar file into python package.
[code]
https://github.com/Impavidity/Omniscient/blob/master/setup.py

[2019-06-29 00:03] emmileaf commented on #733
Awesome, thank you for this! :)

[2019-06-29 10:15] lintool commented on #713
Closing issue for now.

[2019-06-29 10:15] #713 closed

[2019-06-29 10:17] lintool commented on #676
Resolved with #723.

Re: doc2query for DL, let's tackle in a different issue... but augmenting the documents externally would not require any additional code in Anserini itself.

[2019-06-29 10:17] #676 closed

[2019-06-29 10:21] lintool commented on #633
This has been resolved with #655

[2019-06-29 10:21] #633 closed

[2019-06-29 15:49] bazingagin commented on #675
Small update:
[code]
So the previous gap is caused by using a wrong pmid list for filtering out non-included pmids in qrels.
Now will try stemmer and strictly using years <= 2017 for indexing and searching.

[2019-07-05 07:24] guotong1988 opened #739 "What does the word Regressions mean here? I guess it is a ranking problem."
I'm new here.
Thank you very much!

[2019-07-05 08:40] guotong1988 opened #740 "maven error"
[code]

jdk-8u121-linux-x64

[2019-07-05 08:41] guotong1988 commented on #740
Oh, Permission denied

[2019-07-05 08:41] #740 closed

[2019-07-05 10:22] lintool commented on #739
https://en.wikipedia.org/wiki/Regression_testing

[2019-07-05 10:23] #739 closed

[2019-07-11 13:28] lintool commented on #718
hi @r-clancy - I spoke to @emmileaf about getting started on this.

The end goal is that ad hoc retrieval against ES and Solr backends give the same results as direct local Lucene indexes, right?

I suggest creating new classes `SearchSolr` and `SearchElastic` instead of overloading `SearchCollection`, which is actually in need of refactoring...

[2019-07-11 16:19] r-clancy commented on #718
Yeah, the goal would be to get the same results regardless of the back-end, @lintool. Solrini's BM25 params match Anserini's and I'm making changes now to ensure Elastirini's BM25 have the same parameters.

Creating these new classes be in favor of abstracting out the required components (doc object, sorted list of docs by score, etc.), right? If so, would it make sense to define an interface for

[2019-07-11 16:44] lintool commented on #718
Ideally, yes... but let's do this incrementally, maybe in a second pass refactoring?

Issue is that `SearchCollection` has a lot of features that we probably don't want to include in an interface, and injecting an interface will be very invasive.. and considering that all our regressions depend on this, might break a lot of things...

[2019-07-12 12:30] abhirut opened #745 "How to set maxClauseCount"
Hi,

I get the following error for longer queries -
[code]

Is this a parameter I can set while building the index? Suggestions for getting around this apart from query truncation?

[2019-07-12 12:34] lintool commented on #745
This is an underlying Lucene setting...

As for suggestions, if you could describe what you're trying to do, that would help.

Finally -

Please consider contributing.

[2019-07-12 12:40] abhirut commented on #745
Sure, thank you.

I have an index of documents which I'm trying to query with really long questions. A snippet from my tsv file with queries -

[code]

As you can imagine some of these questions can be over 1024 tokens, and the command I use for retrieval -
[code]
Stops retrieving when it encounters this error.

My questions are -
1. Is there anyway to change this Lucene setting?
2. Else, is there

[2019-07-12 12:44] lintool commented on #745
It's unlikely that such long queries will give you good quality results, so I think your best best is to shorten the queries. Simple truncation is a reasonable baseline. Better would be term selection (keyphrase extraction) by some algorithm; tf.idf is a good start.

[2019-07-12 12:46] abhirut commented on #745
Hi @lintool I completely agree! This argument is in fact the basis for my current research. I also wanted to study the drift in results from such long queries.

[2019-07-12 12:48] lintool commented on #745
Possibly related: https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-8-423

[2019-07-17 02:43] #732 closed

[2019-07-17 14:13] aalbahem commented on #365
@lintool For my research, I have implemented the basic LL model. I also have implemented [MixtureMode](https://dl.acm.org/citation.cfm?id=502654), [Distill model](https://dl.acm.org/citation.cfm?id=2914695), and the Rocchio method. I plan to implement the axiomatic-based models of LL later.

I am not sure whether we should create separate issues for these methods that I have implemented, then pull

[2019-07-22 08:02] rajarsheem opened #748 "Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project anserini: Fatal error compiling: invalid target release: 11"
how to resolve this issue?

[2019-07-22 14:45] emmileaf commented on #748
Anserini was recently upgraded to Java 11 (commit [`17b702d`](https://github.com/castorini/anserini/commit/17b702d9c3c0971e04eb8386ab83bf2fb2630714)). We recommend using Java 11 if you would like to compile the latest commits, but to compile with Java 8, you can also edit/revert the following lines in `pom.xml`: https://github.com/castorini/anserini/blob/33d630cec4d07e926a022731046a0553aa928fb5/po

[2019-07-22 15:08] rajarsheem commented on #748
Yeah, I solved it already. Forgot to close the issue. Thanks @emmileaf .

[2019-07-22 15:08] #748 closed

[2019-07-23 07:21] yongbowin commented on #748
The same error occurs when my executing, modify `11` to your version perform well. Thx.

[2019-07-23 08:04] rajarsheem commented on #748
@yongbowin I instead updated my Java to 11 ;)

[2019-07-26 09:21] lintool opened #749 "FileSegment should implement Closeable"
hi @emmileaf - shouldn't `FileSegment` implement `Closeable` for proper cleanup?

https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/collection/FileSegment.java#L32

[2019-07-27 21:59] lintool commented on #725
Closed with #742

[2019-07-27 21:59] #725 closed

[2019-07-28 10:40] lintool commented on #365
Can you send a PR for LL first? How effective is it? The effectiveness values for LL reported in the paper are lower than what we have for baseline RM3.

[2019-07-28 10:42] lintool commented on #710
Upgraded to JDK11 with #743.

[2019-07-28 10:42] #710 closed

[2019-07-28 11:10] aalbahem commented on #365
I would PR that soon with results. But, the results is below what we have for bm25+RM3.

Apart from that, I did build my code on top of the #626 code, so should I wait until that get merged before the new PR.

[2019-07-28 11:11] lintool commented on #365
@aalbahem I just commented on #626 - lmk what you think...

[2019-07-28 11:13] lintool commented on #745
Having seen no follow up, I'm closing this issue.

[2019-07-28 11:14] lintool commented on #726
Closing.

[2019-07-28 11:14] #726 closed

[2019-07-28 11:17] lintool commented on #599
Resolved by #692, #734, #742

[2019-07-28 11:17] #599 closed

[2019-07-28 11:23] lintool opened #751 "Release v0.6.0"
Should we do a v0.6.0 release? Major changes are Lucene8 upgrade and move to JDK11.

Thoughts? @emmileaf @r-clancy @zeynepakkalyoncu @Victor0118 @rodrigonogueira4

[2019-07-28 13:42] rodrigonogueira4 commented on #751
Looks good to me, no deadlines in the next month, right?

[2019-07-28 13:48] lintool opened #752 "Warnings in IndexCollection"
There are a bunch of warnings in `IndexCollection` that we should fix:

[code]

I think this is code by @emmileaf @r-clancy @charW ?

[2019-07-28 14:17] zeynepakkalyoncu commented on #751
Sounds good. Are we aiming for before or after the TREC DL deadline? Also, I think it would be a good idea to upgrade to JDK11 on our own servers to adapt our other repos?

[2019-07-28 14:39] lintool commented on #751
I was hoping to cut the release soonish... maybe this week?

I forgot to mention, I've rerun _all_ regressions from scratch (including `cw12`) on JDK11 on `damiano` and everything checks out.

Yes we should upgrade all our servers to JDK11, but I think that's an orthogonal issue? This is tuna and the GPU machines?

[2019-07-29 14:13] zeynepakkalyoncu commented on #751
Sure!

Yeah, I only wanted to mention that issue as a reminder. I see it's already taken care of.

[2019-07-30 16:22] #752 closed

[2019-07-30 16:30] emmileaf commented on #749
Re-opening issue for safeguarding the closable, as discussed in PR #750.

[2019-07-31 15:35] bazingagin opened #755 "Open Research: Create human evaluation interface"
1. create an interface that enables people to enter key words as queries
2. return a list of citations output by Anserini + BM25 (+BERT reranker)
3. interleave the result with Google Scholar, MS Academic, and Semantic Scholar's and enable people to "like" or "dislike" the returned results

[2019-07-31 20:22] rodrigonogueira4 commented on #722
Closing this and adding it to Fourdrinier. @bazingagin, you should be added to that repo in a minute.

[2019-07-31 20:22] #722 closed

[2019-07-31 20:23] rodrigonogueira4 commented on #755
Closing this and adding it to Fourdrinier. @bazingagin, you should be added to that repo in a minute.

[2019-07-31 20:23] #755 closed

[2019-08-01 16:28] emmileaf opened #758 "Elastirini collection retrieval for BM25"
Opening this issue to document some work on the [`search-es-collection`](https://github.com/castorini/anserini/tree/search-es-collection) branch, since I'll be gone by the time @r-clancy returns... This branch sets up `SearchESCollection` for BM25 retrieval, similar to `SearchSolrCollection` in #746.

Comparing BM25 retrieval in ES with Anserini:
- `robust04`: overall ranking/metrics match Anserin

[2019-08-04 22:07] lintool opened #761 "MS MARCO (Document): add Ax and PRF"
For the MS MARCO document regressions https://github.com/castorini/anserini/blob/master/docs/regressions-msmarco-doc.md let's add +Ax and +PRF - for both tuned and default BM25 parameters.

[2019-08-05 23:17] lintool commented on #761
@emmileaf can you add entry to regression log: https://github.com/castorini/anserini/blob/master/docs/regressions-log.md
to note the commit id?

[2019-08-06 05:33] lintool commented on #761
I've independently verified that the regressions pass.

[2019-08-07 08:42] #761 closed

[2019-08-09 22:09] #749 closed

[2019-08-11 09:13] lintool opened #774 "MS MARCO passage regression errors: BM25prf gives non-deterministic results"
Hi @emmileaf I'm getting these MS MARCO passage regression errors:

This is on `tuna`:

[code]

This is on another machine:

[code]
It seems like BM25prf gives non-deterministic results?

@matthew-z any ideas?

[2019-08-11 12:25] matthew-z commented on #774
BM25PRF is expected to give deterministic results.

Could you please run BM25PRF again with `-bm25prf.outputQuery` argument to log the query expansion?   I will also try to run on my server, but I don't have the collection right now.

[2019-08-11 16:33] emmileaf commented on #774
From a quick look at the runs, this might be a score tie handling issue?

https://github.com/castorini/anserini/blob/5b29d1654abc5e8a014c2230da990ab2f91fb340/src/main/java/io/anserini/rerank/lib/BM25PrfReranker.java#L113

https://github.com/castorini/anserini/blob/5b29d1654abc5e8a014c2230da990ab2f91fb340/src/main/java/io/anserini/rerank/lib/Rm3Reranker.java#L111-L118

I'll add in tiebreak handling

[2019-08-12 05:22] emmileaf commented on #774
An update on this issue: tried changing the line mentioned above and re-ran retrieval a couple of times, but results are still sometimes inconsistent.

Discrepancies look like they're mostly from closely scoring documents having different order, though there's probably something else in the code that I missed in the comment above…

A small example diff:
[code]

[2019-08-12 19:10] emmileaf commented on #774
Turns out I had made a different mistake while verifying/testing the changes earlier 🤦‍♀
Tie-breaking seems to have fixed it with no regression number changes - will follow-up with PR.

[2019-08-15 03:22] lintool commented on #670
@emmileaf has a draft PR for this in #778 but @Peilin-Yang seems to questions the entire idea here: https://github.com/castorini/anserini/pull/778#pullrequestreview-274056631

So, we should first figure out whether this is worth doing... sorry @emmileaf we probably should have had this discussion with @Peilin-Yang first...

My motivation for this comes from the observation from our ECIR 2019 paper

[2019-08-15 13:06] Peilin-Yang commented on #670
I might be misunderstanding you ...
What do you mean by `reference set`? Is that the `working set` in the paper?

1. If you are referring the working set, then the axiomatic algorithm won't work since you are essentially proposing to compute the MI between each query term and EVERY term in the collection.
2. If you are referring the statistics (e.g. tf, idf) when computing MI, then that's what @em

[2019-08-15 20:13] tuzhucheng opened #784 "Javadoc: Unable to find javadoc command when JAVA_HOME is set"
I'm getting the following error while building anserini using `mvn clean package appassembler:assemble`:

[code]

JAVA_HOME is set and I've added the `bin` directory under it to `PATH` as well.

[code]

Using maven 3.6.0, Java 11.0.3, Ubuntu 18.04.1.

[2019-08-15 20:14] tuzhucheng commented on #784
A workaround is adding `-Dmaven.javadoc.skip=true verify` to the `mvn` command.

[2019-08-15 20:36] tuzhucheng commented on #784
Turns out `javadoc` is not installed. I'll check my environment.

[2019-08-16 05:43] tuzhucheng commented on #784
My bad, turns out I was setting up a new environment and installed JRE instead of JDK.

[2019-08-16 05:43] #784 closed

[2019-08-16 22:57] lenyabloko commented on #755
Hi, Can you share this implementation for my research purposes? I will use and report results in my article. Thank you.

[2019-08-17 16:35] rodrigonogueira4 commented on #755
Sorry, we end up not running this experiment, so we don't have any code.

[2019-08-20 19:27] r-clancy commented on #758
I'm able to replicate the results, except twitter, looks good to me!

I'm good with this approach to stay consistent with the Solr implementation.

@lintool should I tackle this now or circle back for it later after this is merged?

[2019-08-21 00:25] r-clancy commented on #758
Merging this as per discussion with Jimmy, will circle back later to fix Twitter experiments.

[2019-08-21 00:25] #758 closed

[2019-09-04 08:03] lintool commented on #774
Regression error has cropped up again when running:

[code]

Results on `damiano`:

[code]

[2019-09-05 11:57] lintool opened #787 "Simple utility to dump out doc lengths (quantized and accurate)"
It'd be nice to have a simple utility to dump out the doc lengths of all documents, both the Lucene quantized version and the actual accurate length - so we can compare error difference.

For example, in a tsv.

[2019-09-05 12:20] lintool commented on #774
Two trials on `tuna` (Java 8) give the same result.
Two trials on my iMac Pro (Java 8) gives the same result.

I think it's just the case that we forgot to update the regression values.

See PR #788

[2019-09-05 13:32] #774 closed

[2019-09-05 16:42] lintool commented on #751
FYI - after merging in https://github.com/castorini/anserini/pull/789 - I'm planning on release v0.6.0

[2019-09-06 13:56] lintool commented on #751
Just released [v0.6.0](https://search.maven.org/artifact/io.anserini/anserini/0.6.0/jar) [[Release Notes](https://github.com/castorini/anserini/blob/master/docs/release-notes/release-notes-v0.6.0.md)]!  🎉

Thanks to contributions from:

+ Emily Wang ([@emmileaf](https://github.com/emmileaf))
+ Ryan Clancy ([@r-clancy](https://github.com/r-clancy))
+ Adrien Grand ([@jpountz](https://github.com/jpou

[2019-09-06 13:56] #751 closed

[2019-09-06 17:49] lintool commented on #787
Addressed by #791

[2019-09-06 17:49] #787 closed

[2019-09-07 15:27] Chriskamphuis opened #795 "Indexing WaPo log shows no progress"
In Anserini the log during indexing shows the percentage of documents that have been indexed every minute. This percentage is determined by looking how many files have been indexed. As the WaPo collection is one file with every line being a document the progess shown in the log shows 0% until indexing has finished.

[2019-09-07 16:01] lintool commented on #795
Acknowledged. Yes, this is a known issue, but lower priority in terms of fixing?

[2019-09-08 13:30] Chriskamphuis commented on #795
Agree, just made an issue in case it was an unknown problem.

[2019-09-08 16:30] lintool opened #797 "Simple end-to-end feature extraction pipeline with LTR"
Let's get a simple end-to-end feature extraction pipeline with LTR working on MS MARCO.

Let's start with very simple features like BM25, count of query terms, etc. - in fact, just start with two.

1. Generate the features
2. Run through scikit-learn to learn a simple model (e.g., logistic regression)
3. Rerank test data.

It should be fairly easy to debug end-to-end. The goal here is to get the p

[2019-09-08 16:32] MathBunny opened #798 "Use Lucene Similarity BM25 scoring instead of reimplementing custom scoring function"
In `BM25FeatureExtractor.java`, the feature extractor computes BM25 score according to Lucene 5.3 documentation, however to retain consistency with master it'd be better to reuse Lucene similarity functionality instead in case of changes down the road.

[2019-09-08 16:57] lintool commented on #798
Let's get this in a PR before a broader PR on the pipeline.

The correctness of the implementation can be easily verified by making you we get the same scores as those coming out of Lucene directly, i.e., as in https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-passage.md

[2019-09-10 11:45] lintool commented on #673
hi @r-clancy reviewing our open issues - I believe we've done these experiments already... but they're on another issue somewhere? Can you please provide link?

[2019-09-10 12:33] lenyabloko commented on #673
Also compare it to https://github.com/google/sling/blob/master/doc/guide/wikiflow.md#wikidata-import

[2019-09-10 12:50] r-clancy commented on #673
@lintool We ran the Jena vs. Lucene experiments on Freebase and Jena was much faster than Lucene for queries, but slower for indexing. Interestingly, the Jena + Lucene combination for full-text search for object literals was also much faster than pure Lucene. The interesting results are in the comments lower down (starting [here](https://github.com/r-clancy/dstlr/issues/3#issuecomment-501551469)),

[2019-09-10 12:55] lintool commented on #733
I'm going to start taking a look at this now that v0.6.0 has been published: https://packaging.python.org/tutorials/packaging-projects/

[2019-09-10 13:14] lintool commented on #673
Okay, so this was just benchmarking the old Freebase code, right? So PR needed on Anserini?

I'll going to keep this issue open... might come back and look into Wikidata specifically. I'm still (perhaps irrationally) enamored by the idea of KG directly integrated into Lucene...

[2019-09-10 13:32] r-clancy commented on #673
Yeah, this is just using the old code - no PR needed on Anserini.

[2019-09-10 13:32] lintool opened #801 "SearchCollection: setting args.arbitraryScoreTieBreak should disable ScoreTiesAdjusterReranker"
If user sets args.arbitraryScoreTieBreak on the command line, we shouldn't run the ScoreTiesAdjusterReranker.

[2019-09-13 18:18] Impavidity opened #805 "Pyjunis does not support fatjar compiled with java 11"
When I compile with java 11 and use the fat-jar in pyjunis, some errors happen.

[code]

[2019-09-13 18:21] tuzhucheng commented on #805
You need to do something like this:

[code]

[2019-09-17 10:29] Chriskamphuis opened #808 "Indexing Core17 with 1 thread produces multiple leaves."
When I index `core17` with 1 thread `IndexReader.leaves()` produces two leaves.
For `core18` and `robust04`, it correctly produces one leaf.

[Here](https://github.com/castorini/anserini/blob/master/docs/common-indexing-options.md) the indexing options describe that when using 1 thread the unique terms are only available when indexing with one thread. This is at the moment not possible for `core17

[2019-09-17 11:31] lintool commented on #808
Try `-optimize` https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexArgs.java#L56

It'll force merge the index down to a single segment... that should do it.

[2019-09-17 13:32] Chriskamphuis commented on #808
Thank you this solves it!

[2019-09-17 13:32] #808 closed

[2019-09-17 21:43] r-clancy commented on #718
Closing as this was implemented in https://github.com/castorini/anserini/pull/746 and https://github.com/castorini/anserini/pull/785.

[2019-09-17 21:43] #718 closed

[2019-09-18 16:32] #688 closed

[2019-09-24 16:51] lintool opened #811 "Ingestion of MS MARCO into Solr and ES"
Figure out how to ingest MS MARCO passage/doc collections into Solr and Elasticsearch. Update documentation as needed.

[2019-09-27 09:54] lintool opened #813 "Update Solrini documentation for Washington Post"
@x389liu if you've successfully ingested Washington Post in Solr, can you add some documentation to that effect at the bottom of: https://github.com/castorini/anserini/blob/master/docs/solrini.md

Something like, we've verified that these instructions can be straightforwardly adapted to work with Washington Post based on instructions at https://github.com/castorini/anserini/blob/master/docs/regres

[2019-09-27 12:37] r-clancy opened #814 "Issue with SearchSolr"
The following bug has slipped in when attempting to run the Solrini experiments:
[code]

[2019-09-27 12:39] r-clancy opened #815 "Add integration test for Solrini"
We need to create an end-to-end integration testing script written in Python that: sets up Solr, indexes a number of collections, runs search and outputs the trec_eval results, and tears down Solr.

The name of the collections to run on should be configurable (the `generator` and `collection` can be fixed like [here](https://github.com/osirrc/anserini-docker/blob/master/index)) and we should be ab

[2019-09-27 13:14] lintool commented on #558
No longer needed. Closing.

[2019-09-27 13:14] #558 closed

[2019-09-27 21:05] x389liu commented on #813
PR https://github.com/castorini/anserini/pull/817 created.

[2019-10-01 18:44] lintool commented on #814
@r-clancy I think this issue can be closed?

[2019-10-01 18:45] lintool commented on #795
Duplicate of #683 - closing.

[2019-10-01 18:45] #795 closed

[2019-10-01 18:45] r-clancy commented on #814
@lintool Yep, closing now.

[2019-10-01 18:45] #814 closed

[2019-10-02 00:19] r-clancy opened #819 "Add integation test for Elastirini"
We need to create an end-to-end integration testing script written in Python that: sets up Solr, indexes a number of collections, runs search and outputs the trec_eval results, and tears down Solr.

The name of the collections to run on should be configurable (the `generator` and `collection` can be fixed like [here](https://github.com/osirrc/anserini-docker/blob/master/index)) and we should be ab

[2019-10-05 17:15] lintool commented on #813
Closing, as #817 has been merged.

[2019-10-05 17:15] #813 closed

[2019-10-05 17:21] lintool commented on #819
For this, we need a non-Docker solution to starting up ES. Once we've figured this out, docs [here](https://github.com/castorini/anserini/blob/master/docs/elastirini.md) should be updated to provide an alternative.

[2019-10-08 03:53] demeiyan opened #820 "What is the problem?"
I have encountered an error when I run the command "mvn  clean package appassembler:assemble" after I clone the repo.

![image](https://user-images.githubusercontent.com/12872156/66366198-3a25e500-e9c2-11e9-9720-17c94aef046c.png)

[2019-10-08 03:56] Peilin-Yang commented on #820
I guess this is because of the dependency versions

From REAME.md:
[code]

[2019-10-08 04:03] demeiyan commented on #820
ok,thanks,I will try old version.

[2019-10-08 08:55] demeiyan commented on #820
Hi, the problems is Apache Maven Compiler Plugin's configuration in pom.xml .
![image](https://user-images.githubusercontent.com/12872156/66381723-71a98700-e9ec-11e9-88fa-f63135b68166.png)

[2019-10-08 12:18] lintool commented on #820
@demeiyan did you roll back to commit `17b702d`?

[2019-10-08 12:28] demeiyan commented on #820
@Peilin-Yang @lintool  ok,thanks ! I have solved the above problems. I need Anserini Retriever , mainly retrieve top-k passage from passage collection given a question (I have passage collection) , like [https://arxiv.org/pdf/1902.01718.pdf](End-to-End Open-Domain Question Answering with BERTserini) . I try [https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-passage.md](BM2

[2019-10-08 12:43] lintool commented on #820
What do you mean? This seems to work fine for me...

[code]

GWF issue?

[2019-10-08 13:08] demeiyan commented on #820
yes! maybe GWF, I need better IR experiments I can try to use anserini and then I can apply to my dataset.

[2019-10-11 00:13] lintool commented on #820
@demeiyan I don't understand what you are trying to ask... Anserini should work for any of the collections listed in the README.

[2019-10-13 07:29] ABDULAZIZALQATAN opened #824 "Questions about parameters of your Results"
Dear Sir
Thank you for you nice work
I would like to compare your results with mine using different Lucene Tool
Can you tell me which parameters you use to get these MAP results in BM25 ( without additions )
which b value you used ?
which k value you used ?
what are the TokenFilters used for indexing and retrival ?
Regards

[2019-10-13 11:55] lintool commented on #824
Which results are you talking about in particular?

See default search parameters here:
https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SearchArgs.java

See indexing implementation here: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexCollection.java

[2019-10-13 16:56] apoorvp16 commented on #811
Indexing of both MS MARCO doc and passage collections works well. But getting an issue with BM 25 retrieval

[2019-10-13 21:33] ABDULAZIZALQATAN commented on #824
Thank you sir
I checked it >>> is this correct or did I miss something? >>>
Standard Tokenizer - B = 0.4 - K = 0.9 - porterStem - Stop TokenFilter
I tried to rerun the experiment with these filters but the results were different

[2019-10-13 21:34] ABDULAZIZALQATAN commented on #824
Thank you sir
I checked it >>> is this correct or did I miss something? >>>
Standard Tokenizer - BM25 - B = 0.4 - K = 0.9 - porterStem - Stop TokenFilter
I tried to rerun the experiment with these filters but the results were different

[2019-10-15 11:55] lintool commented on #824
What do you mean? Please provide more details - which collection, exactly what code, etc.?

There's more to an end-to-end experiment than the configuration you mentioned above.

[2019-10-15 11:56] lintool commented on #820
Hearing no further follow-up, closing issue.

[2019-10-15 11:56] #820 closed

[2019-10-15 19:48] ABDULAZIZALQATAN commented on #824
Dear Sir
Thanks for your cooperation and support
Collection : AQUAINT and CommonCore 2017
Tool :  [Lucene8IR](https://github.com/lucene4ir/lucene4ir8)
This tools uses XML Files as input
we ran many experiments on AQUAINT to get your results
![Aquaaint-B0 4Map Comparison](https://user-images.githubusercontent.com/47518534/66863985-19462c80-ef8c-11e9-8fdc-f23818aa1625.jpg)

The best file we have unt

[2019-10-15 20:18] lintool commented on #824
There are probably minor differences in the tokenization pipeline, such as XML cleaning, etc. You'll have to take a look at https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/generator/LuceneDocumentGenerator.java for the actual details.

However, your scores are close enough that I don't think there's anything interesting here.

[2019-10-16 01:02] ABDULAZIZALQATAN commented on #824
Thanks sir
I made a full comparison for B = 0.1 to B = 0.9 --- K = 1.2 not 0.9 and I had these results

![AnseriniVSLucene8IR](https://user-images.githubusercontent.com/47518534/66880001-d0589d00-efb8-11e9-88b9-15497ddf1a47.jpg)

[2019-10-17 18:17] lintool commented on #592
Whatever the issue, Oracle vs. openJDK isn't the issue. All regressions run fine on `damiano`:

[code]

[2019-10-20 15:21] lintool commented on #824
See no further follow-up, closing issue.

[2019-10-20 15:21] #824 closed

[2019-10-22 09:40] Chriskamphuis opened #830 "Pyserini pygenerator broke"
As the `IndexCollection.Args` has moved, the `pygenerator` class can not import the `args` anymore:

[code]

produces:

[code]

[2019-10-22 11:14] lintool commented on #830
@Chriskamphuis would you mind sending PR to fix?

[2019-10-22 11:18] Chriskamphuis commented on #830
Yea sure, will do that

[2019-10-22 13:28] Chriskamphuis opened #832 "Update to Java 11 breaks Pyserini"
When updating to Java 11 the path the JRE is not correctly configured for latest version of `pyjnius` that is installed with `pip`. This can be fixed by cloning the latest version from github and installing that version, but I assume this undesirable.

[2019-10-22 14:13] #830 closed

[2019-10-22 14:33] lintool opened #833 "Switching from pyjnius to py4j"
There doesn't seem to be much activity around the pyjnius project re: features, maintenance, etc.
Recently, we had breakage #832 - and similar issues are going to crop up more and more frequently.

Should we consider switching to [py4j](https://www.py4j.org/)? One reason we didn't adopt it was that it required starting up your own JVM.

It's less likely that py4j will become abandoned... for one,

[2019-10-22 14:38] Chriskamphuis commented on #833
I think requiring starting up your own JVM is undesirable, however Pyjnius can not be relied on and Pyserini should not be dependent on it. So, py4j would be my preference.

[2019-10-22 14:40] lintool commented on #833
@Chriskamphuis there's also performance overhead to consider, since py4j communicates via sockets...

[2019-10-22 16:00] Victor0118 commented on #833
I prefer py4j for the reasons above.

[2019-10-22 18:05] lintool commented on #832
hey @Chriskamphuis any idea why `src/test/python/python_interface.py` didn't fail then? it's part of Travis CI definition...

[2019-10-22 18:21] Chriskamphuis commented on #832
no clue .... it did not work for me locally because of this, so I assumed it was a problem in general, maybe it was my system specifically

[2019-10-22 18:32] arjenpdevries commented on #833
As long as it is only calling functions that operate on large sets, overhead costs are amortized.

[2019-10-23 08:33] Chriskamphuis commented on #832
btw your Travis uses Python 2. Dont think that will be the reason, but might be nice to change it to Python 3.

[2019-10-24 09:58] lintool opened #835 "Trim dependencies: fastutil"
We only use `fastutil` in two places:

[code]

If we're able to trim it out, it'd drop the fatjar size a fair bit, to around 84MB from around 100MB.

[2019-10-25 21:57] lintool opened #840 "Insidious fastutil, FeatureVector, and RM3 bug: massive regression impact!"
I was trying to upgrade `fastutil` from version 6.5.6 (an ancient version from Jun 14, 2013) to the latest, version 8.3.0, when I came across a really insidious multi-part bug. The tl;dr is that there's a bug in RM3, which will affect all regressions. Here's the full story:

The class `FeatureVector` is built around the fastutil `Object2FloatOpenHashMap` class, which is used by the RM3 implementat

[2019-10-26 11:28] lintool commented on #832
A bit more detail on this; I've replicated this bug. On macOS 10.14.6:

[code]

The error I get is:

[code]

Issue is documented [here](https://github.com/kivy/pyjnius/issues/304).

Indeed, the lib has moved:

[code]

So a (janky) symlink will fix the issue:

sudo mkdir -p /Library/Java/JavaVirtualMachines/jdk-11.0.4.jdk/Contents/Home/jre/lib/server/

[code]

[2019-10-26 11:29] lintool commented on #835
See rabbit's hole documented in #840

[2019-10-28 11:16] lintool commented on #819
Might be useful: https://www.elastic.co/guide/en/elasticsearch/reference/current/integration-tests.html

[2019-10-30 02:07] tingkai-zhang opened #843 "Exception when importing pyserini"
Hi I follow the instructions of pyserini to set up the environment and run the example script.
The exception I have when running teh example pyserini script copied from readme is:
[code]
I installed and ran it on colab, python 3.

[2019-10-30 10:11] lintool commented on #843
Did you follow the instructions to run and build the jar? https://github.com/castorini/anserini#getting-started

[2019-10-31 17:43] tingkai-zhang commented on #843
I follow the demo colab notebook to set up the environment.
To reproduce it, I have create a notebook here.
https://colab.research.google.com/drive/1gAtadmMw-4hAsYM-YmM-q2VJR6vnTquT

[2019-11-01 11:45] lintool opened #845 "Solr config tweaks: "contents" should be searchable and stored"
`dstlr` wants to tweak Solr configs: https://github.com/dstlry/dstlr#download-and-build-anserini

[code]

Why wouldn't we just want to change in Anserini directly? @r-clancy

Hey @x389liu can you send a PR?

[2019-11-01 13:25] r-clancy commented on #845
This comes down to the difference between `-storeRawDocs` (e.g., raw HTML) and `-storeTransformedDocs` (e.g., text from HTML page). Indexing with Lucene, this can be specified in code ([raw](https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/generator/LuceneDocumentGenerator.java#L130) and [transformed](https://github.com/castorini/anserini/blob/master/src/main/java/

[2019-11-01 13:28] lintool commented on #845
@r-clancy wouldn't it make sense for Solr to store _both_? The raw docs are useful for actual presentation (e.g., HTML rendering), and the transformed docs are useful for downstream NLP.

With Anserini, depending on application, we allow the user to choose... and they can always get the transformed from the raw by just rerunning the transformation, right?

In Solr, we want to support _both_ viewin

[2019-11-01 14:06] r-clancy commented on #845
@lintool I'm fine with having them both, it just means the indexing will take a bit longer with Solr.

[2019-11-01 18:48] lintool commented on #843
Check out: https://colab.research.google.com/drive/1GOCyWyYW_fwJMKy5FVWdYHEC2IlvpqZN

Reopen issue if you're still having problems.

[2019-11-01 18:48] #843 closed

[2019-11-01 18:51] lintool commented on #832
The colab demo doesn't seem to have this issue: https://colab.research.google.com/drive/1GOCyWyYW_fwJMKy5FVWdYHEC2IlvpqZN

[2019-11-01 23:59] #845 closed

[2019-11-02 00:42] lintool commented on #832
I just noticed, @Impavidity and @tuzhucheng mentioned the same issue (but different OS?) in #805. Unclear why colab works though...?

[2019-11-02 00:42] lintool commented on #805
Closing, consolidating with #832

[2019-11-02 00:42] #805 closed

[2019-11-02 11:29] lintool commented on #733
Check it out! https://pypi.org/project/pyserini/0.6.0.0/
New repo: https://github.com/castorini/pyserini

Thanks for all the code @emmileaf !

[2019-11-02 16:30] lintool commented on #832
Colab demo illustrating issue and fix: https://colab.research.google.com/drive/1r1pRq_BfWS486kg2qwVH5iBfbhK_GPCg

[2019-11-02 16:51] lintool commented on #832
Issue and resolution are documented in https://github.com/castorini/pyserini
Closing issue.

[2019-11-02 16:51] #832 closed

[2019-11-02 16:53] lintool commented on #733
Closing issue here. All pyserini-specific issues should now be filed in that repo.

[2019-11-02 16:53] #733 closed

[2019-11-02 19:58] lintool commented on #833
We seem to have a reasonable resolution for #832. I think pyserini remains fine, but we'll definitely want to keep our options open...

[2019-11-02 19:58] #833 closed

[2019-11-03 17:45] lintool opened #853 "Fix approxNN warnings"
@tteofili can you take a look?

[code]

[2019-11-08 19:45] lintool opened #856 "Write indexer for CORE Dataset"
We need to write an indexer for the [CORE dataset](https://core.ac.uk/services/dataset/).

We can base on the current JSON collection: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/collection/JsonCollection.java

[2019-11-09 11:27] lintool opened #858 "Elasticsearch dependencies necessary?"
Hey @r-clancy are all the ES dependencies necessary?

[code]

Since we're just communicating with ES over REST, right?

[2019-11-09 21:45] lintool opened #861 "Slimming down anserini fatjar for PyPI"
Our current fatjar currently exceeds PyPI limits: https://pypi.org/help/#file-size-limit

I filed an issue a while ago, but haven't heard back: https://github.com/pypa/warehouse/issues/6949

I'm going to try to get under 60 MB limit anyway... putting the fatjar on a diet is an independently good idea.

[2019-11-09 21:46] lintool commented on #858
Why do we care? #861

[2019-11-10 00:29] #858 closed

[2019-11-10 00:41] lintool commented on #835
Closing this issue because the complete story is documented in #840, and #864 is a temporary fix for fastutil 6.5.6.

[2019-11-10 00:41] #835 closed

[2019-11-10 01:26] lintool commented on #861
With #864 - this issue is done.

[2019-11-10 01:26] #861 closed

[2019-11-10 20:35] lintool commented on #467
We now have [approx. nearest neighbor search](https://github.com/castorini/anserini/blob/master/docs/approximate-nearestneighbor.md) in Anserini, as discussed in https://arxiv.org/abs/1910.10208

Seem okay to close this issue for now.

[2019-11-10 20:35] #467 closed

[2019-11-10 20:36] lintool commented on #60
Since we have the ability to index JSON collections now, we're good.

[2019-11-10 20:36] #60 closed

[2019-11-11 20:47] lintool commented on #853
Fixed.

[2019-11-11 20:47] #853 closed

[2019-11-14 16:41] KamyarGhajar commented on #797
I actually set the basis of this task in this [https://github.com/castorini/anserini/pull/874](pull request).
- Feature Generation (BM25 score, Query term count)
- Use scikit-learn LogisticRegression to build a basic model on the features

[2019-11-14 22:53] #856 closed

[2019-11-18 20:04] lintool opened #880 "CORE collection: for the doc ids, need to separate doi from other ids"
Follow up to #879 - can we prefix DOIs with `doi:XXXX` or something so we can separate DOIs from internal CORE ids? Right now, there's no way to separate the two.

[2019-11-19 00:34] #880 closed

[2019-11-22 22:07] zeynepakkalyoncu opened #883 "Refactor IndexUtils to facilitate porting to Python"

[2019-11-23 00:57] lintool commented on #368
Closed by #873

[2019-11-23 00:57] #368 closed

[2019-11-23 01:58] lintool commented on #685
Too research-y for anserini... :)
Let's keep track of this idea elsewhere...

[2019-11-23 01:58] #685 closed

[2019-11-23 01:59] lintool commented on #371
The test case coverage of the collections API isn't any worse than elsewhere... Closing now, because we need better test coverage _everywhere_...

[2019-11-23 01:59] #371 closed

[2019-11-23 08:53] #683 closed

[2019-11-23 09:47] lintool opened #887 "solr_integration_test.py improvements"
Overall, we need much more polish on this. Please use https://github.com/castorini/anserini/blob/master/src/main/python/run_regression.py as a reference.

Just a litany of examples:

Proper arg parsing. If I type `python src/main/python/solr_integration_test.py`, I get
[code]
Without any explanation. What does the script expect as input?
I need to read the code to find how.
How about something lik

[2019-11-23 10:24] lintool opened #888 "Elasticsearch exception"
Using ES 7.4 on my Mac. Following instructions here: https://github.com/castorini/anserini/blob/master/docs/elastirini.md

Indexing seems to have proceeded successfully.

Running retrieval, I get:

[code]

[2019-11-23 10:30] lintool commented on #887
Okay, thinking about this a bit more: we should probably let the user control the starting and stopping of Solr and the copying in of resources.

However, this script should do a sanity check to make sure all the resources are in place and warn the user if not.

However, if a collection already exists, the script should probably exit and not overwrite, unless there is a `--overwrite` flag set.

[2019-11-23 16:25] bazingagin opened #889 "Add feature to search other fields in CORE corpus"
We want to index `year` and `topics` in CORE corpus so that we can also search by these fields. Basically we need to modify `LuceneDocumentGenerator.java` or create a new `generator` that outputs more than `content` field for downstream searching.

[2019-11-23 17:23] lintool commented on #889
Let's leave `LuceneDocumentGenerator` alone... probably best to create something like a `CoreDocumentGenerator` or something along those lines...

[2019-11-23 18:40] ankit-shukla-dev commented on #889
Please add me, so that I can get the code

[2019-11-23 18:41] ankit-shukla-dev commented on #889
I will clone and PR then

[2019-11-26 02:46] #883 closed

[2019-11-27 19:19] lintool opened #903 "Flaky test case: ExtractNormsTest"
Made some headway in debugging the flaky test case `ExtractNormsTest`. Output when it fails is:

[code]

These values appear to be correct, but just in the Devanagari script. So there's something odd with locales going on...

[2019-11-27 19:55] lintool commented on #903
I can deterministically trigger this behavior is I do this:

[code]
So, there must be something external to the test case itself that's causing this.

[2019-11-27 20:15] #903 closed

[2019-12-01 11:40] lintool commented on #888
Fixed by #907

[2019-12-01 11:40] #888 closed

[2019-12-01 11:40] #887 closed

[2019-12-01 11:42] lintool commented on #811
MS MARCO passage works now, part of #907

[2019-12-02 14:41] lintool opened #909 "Replicate ANN work"
I should go through @tteofili 's approximate NN work and attempt to replicate, based on documentation, and fill in missing details as needed.

[2019-12-03 16:03] lintool opened #912 "Expose iterator over terms in dictionary in IndexReaderUtils"
See: https://github.com/castorini/anserini/blob/master/src/test/java/io/anserini/index/BasicIndexOperationsTest.java#L54

We should probably expose a method in IndexReaderUtils to provide an iterator over terms - so that we can access from Pyserini. From this we can do the standard log-log counts of df and related plots...

[2019-12-04 11:04] lintool opened #913 "Check in multilingual preprocessing scripts"
@Impavidity for fr, zh, ar - we first pre-process corpus into JSON right? Can you please check in the pre-processing scripts?

[2019-12-04 11:06] lintool opened #914 "Sanity check FIRE corpora for multilingual IR"
For myself, get a better understanding of the setup of the FIRE corpora for recently-added multilingual IR capabilities.

[2019-12-04 11:11] lintool commented on #914
The FIRE 2012 site appears to be down…
http://isical.ac.in/~fire/2012/adhoc.html

[2019-12-04 11:41] lintool commented on #914
According to this paper:

Ad-hoc Information Retrieval focused on Wikipedia based Query Expansion and Entropy Based Ranking https://www.isical.ac.in/~fire/working-notes/working-notes/adhoc/adhoc_JU.pdf

Compared to Shi and Lin https://arxiv.org/pdf/1911.02989.pdf - Hindi and English numbers match exactly, but not Bengali: We report more 500,122.

But according to this paper:
An Empirical Study of

[2019-12-04 23:28] lintool commented on #819
Closed by #911

[2019-12-04 23:28] #819 closed

[2019-12-05 00:48] lintool commented on #914
Addressed by #915

[2019-12-05 10:46] #914 closed

[2019-12-06 22:16] lintool opened #918 "Replicate docTTTTTquery work"
Verify @rodrigonogueira4 's instructions at https://github.com/castorini/docTTTTTquery for docTTTTTquery

[2019-12-07 00:09] lintool opened #920 "Add docTTTTTquery regression"
Add formal docTTTTTquery regression into our regression test suite.

[2019-12-07 00:38] lintool commented on #918
Done, closed with #919

[2019-12-07 00:38] #918 closed

[2019-12-09 10:14] lintool commented on #373
As part of working on #916 - rereading this issue - I think this can be closed.

[2019-12-09 10:14] #373 closed

[2019-12-09 21:24] lintool commented on #815
Ref #922

[2019-12-10 04:08] lintool commented on #920
Closed by #923

[2019-12-10 04:08] #920 closed

[2019-12-10 17:44] daltonj commented on #840
Does this mean there are new Anserini RM3 results corrected?  And is this 'bug' actually a feature?

[2019-12-10 17:49] lintool commented on #840
Nope, I am loathe to fix this bug because all the regression numbers will change slightly. Punting for now.

[2019-12-10 18:26] #913 closed

[2019-12-10 18:26] lintool commented on #913
Closed by #917

[2019-12-10 18:39] daltonj commented on #840
It doesn't seem right to not fix a bug because it would change numbers. Isn't this the correct, desired outcome of a bug fix? Fix the bug, update the tests..?   It doesn't seem right to use / cite an RM3 implementation that is incorrect...?

[2019-12-10 18:47] lintool commented on #840
I agree, this should be fixed, but it's a question of priorities...

An additional consideration is that this fix will make a bunch of papers already published - both by Waterloo and others that have started to depend on Anserini - not reproducible on master branch. This will lead to a proliferation of different numbers as "baselines" - which will all be correct, just on different versions. Yes, I

[2019-12-10 19:30] arjenpdevries commented on #840
I would have expected the effect to be small, as only low impact terms will be ignored from each document, and then the tie breaking behaviour is not really a bug but merely an undefined property in the whole algorithm. But you write "massive impact" so maybe the effect is not small?

I think the point by @daltonj is that what is now called RM3 appears not to implement RM3. I think I disagree with

[2019-12-10 21:54] daltonj commented on #840
Can we also update this issue quantifying the impact on MAP, and other standard metrics.  How big is it? I expect the tie breaking to be small.  But what about the term selection issue?

I would be happy to do a code review as well as provide sample expansion term weights from the Galago implementation to compare against. 

[2019-12-10 22:21] lintool commented on #840
Sorry, to clarify - "massive regression impact" means that all the regression numbers for _every_ collection will change (we now have 25 different collections that we have regressions for)... but the changes will be small. I will quantify.

[2019-12-10 22:36] lintool commented on #840
Okay, here are the results, on Robust04:

AP                 | Paper 1 | Paper 2 |
:------------------|---------|---------|
BM25+RM3 (default) |  0.2903 |  0.2903 |
BM25+RM3 (default): fixed |  0.2920 |  0.2920 |
BM25+RM3 (tuned)   |  0.3043 |  0.3021 |
BM25+RM3 (tuned): fixed | 0.3004 | 0.2989 |

Note that the tuned "fixed" results use the old parameter settings, _without_ retuning.

cf: https://

[2019-12-10 23:09] arjenpdevries commented on #840
So marginal differences, phew.

[2019-12-11 14:12] daltonj commented on #840
Thanks.  I appreciate the fast turn around.

Is there a corresponding pull request / diff to review the RM3 changes? Maybe I could take a stab at reviewing the RM3 implementation.

Beyond that, I would also like to try and sync other implementations to make sure they are consistent -- e.g. the QL + RM3 for Galago vs Anserini.  The terms selected and weights should be "similar".

[2019-12-11 20:24] lintool commented on #815
Closed by #922

[2019-12-11 20:24] #815 closed

[2019-12-11 20:27] lintool opened #927 "Build consistent set of Solr/ES integration test corpora"
Ref: #811

Currently, the Solr integration test script works only on Core18. The ES integration test script works on Robust04 and MS MARCO passage. Let's bring these into alignment - make both Solr/ES work on {Core18, Robust04, and MS MARCO passage}.

[2019-12-12 18:35] lintool opened #928 "Check what "documents (non-empty)" means when verifying index"
From `core18` regression, we have:

[code]
It's unclear what "documents (non-empty)" means. Shouldn't empty documents already have been skipped during indexing?

Relevant code snippet is:

[code]

I.e., doesn't have the field...? Look into what exactly this means.

[2019-12-13 02:54] #912 closed

[2019-12-13 12:27] lintool commented on #909
Originally scheduled to be part of v0.7.0 release, punting.

[2019-12-13 12:28] lintool commented on #927
Originally planned to be part of v0.7.0 release, punting.

[2019-12-13 12:28] lintool commented on #811
Originally planned to be part of v0.7.0 release - features mostly there, but not 100% complete. Punting for now.

[2019-12-15 14:42] Huhao123 opened #931 "how to read the old index file with the latest pyserini?"
i installed the latest version of  pyserini. The program tells me that i forget to add lucene-backward-codecs.jar when i read the old index file, which was indexed from lucene 7.6. The error code is as follows:
`JavaException                             Traceback (most recent call last)
<ipython-input-3-2ec28dcbe032> in <module>
     14                 print('{} queries completed'.format(cnt))

[2019-12-15 16:34] lintool commented on #931
Hi @Huhao123 - unfortunately, we've moved beyond Lucene 7.6 since June 2019: https://github.com/castorini/anserini/commit/75e36f97f7037d1ceb20fa9c91582eac5e974131

You'll have to rebuild the index.

[2019-12-16 01:22] Huhao123 commented on #931
OK. Thank you!

[2019-12-16 11:07] #931 closed

[2019-12-24 09:43] tteofili commented on #909
see issue #932

[2019-12-26 12:20] #909 closed

[2019-12-29 22:05] lintool commented on #928
The index-time filtering is a check on the size of the transformed document (e.g., after JSoup processing). In the case of Washington Post, there is no transform, since we generate the Lucene document from the raw JSON document itself. So, there could be documents with no content.

In fact these are the documents:

[code]

For example:

[code]

In the case of a collection like `disk12`:

[code]

H

[2019-12-29 22:05] #928 closed

[2020-01-05 14:18] rodrigonogueira4 commented on #745
@lintool, could we please reopen this issue? I'm working on a task in which more query terms lead to higher effectiveness, but I couldn't find a way to increase maxClauseCount in anserini/pyserini.

[2020-01-05 18:08] lintool commented on #745
hey @rodrigonogueira4 what do you need? Is this an issue of exposing the setting in Anserini/Pyserini, or is this a fundamental Lucene limitation?

[2020-01-06 11:29] rodrigonogueira4 commented on #745
It is an issue in exposing the setting in Anserini/Pyserini. It would also work if the default is set to a larger number, such as 4096.

I wonder why Lucene has a limit for this (optimization, perhaps?).

[2020-01-06 12:31] lintool commented on #745
Do you want to send PR?

[2020-01-06 12:36] rodrigonogueira4 commented on #745
Sure, I will start working on it.

[2020-01-09 13:37] lintool commented on #889
To be clear, this is the CORE dataset: https://core.ac.uk/services/dataset/

[2020-01-09 16:55] heinrichreimer opened #940 "Modularize"
The Anserini framework currently has a huge list of dependencies (and transitive dependencies).
Especially the dependency on Lucene and Elasticsearch is likely to cause version conflicts, as Elasticsearch requires the Java library version to match the cluster's version.
That way it is currently not possible to use Anserini and own Elasticsearch Java API applications on the same classpath.
Modulari

[2020-01-09 19:21] edwinzhng commented on #889
Commenting so I can assign this issue to myself

[2020-01-10 17:20] lintool commented on #940
Hi @heinrichreimer, thanks for the comment!

Yes, in principle I agree this would be a good thing to do... however, realistically the priority is rather low, at least in the short term, especially with SIGIR deadline etc. coming up.

However, a near term reasonable task might be to prune the pom of any dependencies that aren't absolutely necessary...

[2020-01-10 17:29] heinrichreimer commented on #940
Thanks for your honest opinion. I will think about possibilities of modularization in the meantime and come back to you with ideas and feedback.
The general idea would be to have a base "model" on which search, LTR etc. are built.

However, pruning dependencies is a very good start!

[2020-01-11 00:21] edwinzhng commented on #889
Hey @bazingagin it seems like the -storeTransformedDocs flag will set the "topics" and "year" fields as a stored document in Lucene, although there is a bug right now that causes "topics" to be an empty string instead of the actual value (this also affects all other JSON fields that are arrays). I can submit a change that for the array values, but did you want me to create the new generator regard

[2020-01-11 02:40] lintool commented on #889
hey @edwinzhng to provide more context, our goal is to build rich search/browsing/exploration applications to the scientific literature, enabling, for example, analyses like these: https://medium.com/@nlpscholar/state-of-nlp-cbf768492f90

[2020-01-12 22:40] guyrosin opened #943 "Too long classpaths for Windows"
For Windows, appassembler generates invalid batch files.
Since there are many dependencies, the generated classpath is too long for Windows, and an error is shown when executing the generated scripts, such as IndexCollection.bat and SearchCollection.bat ("The input line is too long").

[2020-01-13 01:55] #943 closed

[2020-01-13 12:34] lintool opened #945 "Clean up garbage characters in MS MARCO dataset"
I've noticed that MS MARCO data has garbage characters. A bit of probing, appears to be MS-related encoding issues: https://stackoverflow.com/questions/2477452/%C3%A2%E2%82%AC-showing-on-page-instead-of

Let's try some cleanup and see if it improves effectiveness?

[2020-01-13 23:48] edwinzhng commented on #945
Does this apply to the MS MARCO Document Ranking dataset as well? I looked at some of the indexed documents and the characters seem to be encoded correctly

[2020-01-14 00:55] lintool commented on #945
Okay, here's a concrete example:

[code]

In browser, it gets rendered as:

<img width="876" alt="Screen Shot 2020-01-13 at 7 54 11 PM" src="https://user-images.githubusercontent.com/313837/72304424-7fe7ee80-363e-11ea-9139-9bb561d10600.png">

Note the `â` garbage.

[2020-01-14 04:15] edwinzhng commented on #945
Sorry for all the back and forth here, will try to summarize what I found while digging around (let's work with the single example above but it should extend to others as well):

### TLDR
Using Latin-1 should work since the underlying byte values are the same as Windows-1252. Also Python is unable to encode characters between `\u0080` and `\u009f` using Windows-1252 since they are undefined - ther

[2020-01-14 08:18] arjenpdevries commented on #945
Thank you for the pointer to the double mis-conversion from Windows-1252 to UTF-8. I have seen that before but never understood!

[2020-01-15 21:09] x389liu commented on #927
I've added the test case for Solr on robust04 and it works as expected. But there are some problems for Solr on passage and ES on core18.

1. For Solr retrieval on passage, when running
[code]
I got an exception `org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException: Error from server at http://10.36.40.249:8983/solr/msmarco-passage: undefined field define` which is caused by the So

[2020-01-16 13:29] lintool commented on #927
@r-clancy can you help @x389liu out here?

[2020-01-16 14:54] r-clancy commented on #927
@x389liu

For the first error, it's because Solr queries are of the form `<field>:<query_terms>` and several of the queries from passage have `define:` in them, with the colon being the culprit - Solr thinks `define` is a field (which isn't in our schema).

[code]

I think some additional query cleaning [here](https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/Searc

[2020-01-19 11:23] lambdaofgod opened #958 "Reproducing "The Simplest Thing That Can Possibly Work:Pseudo-Relevance Feedback Using Text Classification""
How to run rerank.py?
The paper directs to commit from 19.01.2019, but I can't find any mention of its title in the whole project.

When I try to run rerank.py
`python rerank.py --config config.ccrf.core18.json `
I get
[code]

Other than that, how can I get vocabulary size of your BM25 representations? Because what I've got by running BM25 on my data has huge vocabulary, which I don't think will w

[2020-01-20 19:46] nsndimt opened #959 "Is the document length used in language model accurate?"
Anserini has BM25 and AccurateBM25, two implementations of BM25. I think the word  "accurate" meaning the implementation uses uncompressed document length during the computation.
If so, which kind of document length do the other similarities,  like qld_mu,  use?  Compressed or Uncompressed?  And can we also provide both versions for all other similarities?

[2020-01-20 20:16] nsndimt commented on #945
I have seen people talked about this issue and here is a potential [fix using fyft](https://github.com/spacemanidol/MSMARCO/issues/26#issuecomment-488841050).
[code]

[2020-01-20 20:20] lintool commented on #945
Interesting, thanks @nsndimt for the link. The link above suggests that the issue has been fixed...? But I don't think it has? What gives?

@edwinzhng Can you please take a look?

[2020-01-20 20:22] lintool commented on #959
hi @nsndimt - take a look at this: https://cs.uwaterloo.ca/~jimmylin/publications/Kamphuis_etal_ECIR2020_preprint.pdf

If you want to use accurate lengths in BM25, use this `-bm25.accurate`:
https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SearchArgs.java#L125

@Chriskamphuis can provide more details if you wish to replicate above ECIR paper.

No, we haven't done

[2020-01-20 20:57] lintool commented on #958
Hi @lambdaofgod - check out https://github.com/castorini/anserini/blob/master/docs/runbook-ecir2019-ccrf.md

The paper you referenced uses the same code base.

[2020-01-20 21:54] edwinzhng commented on #945
Hmm, I can't really see why this shouldn't be fixed if they used `ftfy`. They mentioned in the issue that it was only done for top1000 dev and eval and the triples, which means `collection.tsv` could still have the same encoding errors. There was also another issue https://github.com/spacemanidol/MSMARCO/issues/25 that mentioned corrupted characters in `collection.tsv` but was closed without furth

[2020-01-21 07:07] bevankoopman opened #961 "Index using `JsonCollection` fails when JSON document has no `contents` field."
When indexing using JsonCollection, the indexer fails with nondescript NullPointer if the source document does not contain a field with name `contents`.

[2020-01-21 15:19] nikhilro commented on #961
Hey @bevankoopman, thanks for creating an issue for this. I'll take a look and send a fix

[2020-01-22 02:07] #961 closed

[2020-01-22 02:09] lintool commented on #961
Hi @bevankoopman thanks for reporting this issue. #964 should take care of it. please reopen issue if otherwise.

[2020-01-22 03:33] bevankoopman commented on #961
Oh, cool. Thanks. Sorry, didn't see that other issue.

[2020-01-23 12:45] lintool commented on #958
Also, not sure I understand this point... yes, I was using the entire vocab space as features to LR in the referenced paper.

No, that's the number of _topics_. Classification is performed on a per-topic basis.

[2020-01-23 12:46] lintool commented on #959
Not having heard any follow up, closing issue. Please re-open otherwise.

[2020-01-23 12:46] #959 closed

[2020-01-23 12:47] lintool commented on #745
Not having heard any follow up, closing issue. Please re-open otherwise.

[2020-01-23 12:47] #745 closed

[2020-01-23 13:50] lambdaofgod commented on #958
I'm confused. Could you explain that further? I don't understand the concept of topic in this paper.
In the paper you didn't explicitly define classification target.
What I understood is: per each query you trained model on positive examples (relevant articles, top k from 100 articles retrieved by BM25) and negative examples (last k from 100 articles retrieved by BM25).

[2020-01-23 13:52] lintool commented on #958
A "topic" correspond to a query in TREC parlance. Your understanding is basically correct.

[2020-01-23 17:54] lambdaofgod commented on #958
Thanks. Can you tell me what is the vocabulary size for these datasets? Does your standard pipeline use stemming by default?

I'd like to run your code myself but it would take a couple of weeks to get the TREC datasets...

[2020-01-23 18:10] lintool commented on #958
I only have the number for Robust04 off hand: there are 923,436 unique terms in the collection.

[2020-01-24 04:32] bevankoopman opened #967 "JaCoCo maven plugin causing build error on OSX"
I get the following exception on Maven build, while running tests, after clean clone of anserini:

[code]

Removing `jacoco-maven-plugin` from the `pom.xml` fixes this.

Environment:

- OpenJDK 13.0.2
- Apache Maven 3.6.3
- macOS 10.14.3

[2020-01-24 11:58] #958 closed

[2020-01-25 21:22] lintool opened #971 "Ingest scientific abstracts into Solr"
We have a bunch of hydrology bibtex entries that have been formatted into the CORE format. We should be able to take these and ingest into Anserini.

If that works, we should then likewise be able to stuff into Solr and expose a REST API for interactive search. Let's make this happen.

Assigning to @nikhilro @edwinzhng

[2020-01-26 13:19] lintool commented on #967
This might be a JDK 13 issue? See: https://github.com/jacoco/jacoco/issues/828

[2020-01-28 00:57] bevankoopman commented on #967
Ok. Downgraded to JDK 11 and confirm that tests all pass now.

[2020-01-28 01:56] lintool commented on #967
Thanks for the follow-up. Closing issue.

[2020-01-28 01:56] #967 closed

[2020-01-28 12:32] lintool opened #979 "Implement custom CoreGenerator to generate custom Lucene document"
In the current implementation, `CoreCollection` generates a `MultifieldSourceDocument`, and we use the default `LuceneDocumentGenerator` to create a Lucene document. The issue is that `LuceneDocumentGenerator` doesn't differentiate the fields, which we need in this case.

For example, years we probably want to explicitly index as a numeric value so we can do range queries. Journal names and author

[2020-01-28 12:33] lintool commented on #889
Closing with updated feature request in #979

[2020-01-28 12:33] #889 closed

[2020-01-30 00:56] ABDULAZIZALQATAN opened #981 "Request for RM3 methodology"
Dear Sir
I would like to write a class that perform RM3 functionality as yours because I have made too many indexes using another tool that are incompatible with Anserini

![1](https://user-images.githubusercontent.com/47518534/73410758-184ac800-42fb-11ea-8887-07073a9d5046.jpg)

1- tell me if I can override this problem and use your RM3Reranker class
2- Guide me to a reference that clarifies clear

[2020-01-30 01:42] ABDULAZIZALQATAN commented on #981
I found possible  solution
https://github.com/dwaipayanroy/Relevance-Model/tree/master/references

[2020-01-30 01:42] #981 closed

[2020-02-04 19:01] lintool commented on #979
Addressed by #983

[2020-02-04 19:01] #979 closed

[2020-02-10 15:55] lintool commented on #971
Generalizing this issue. We can just as easily throw ACL anthology into Solr also: https://www.aclweb.org/anthology/

Bibtex -> CORE conversion can be done with a simple Python script, then we can reuse our existing machinery...

[2020-02-10 16:02] lintool opened #984 "Implement generator for bibtex entries"
cf. #971

Given that a lot of scientific articles are going to be available in bibtex, should we just write a native document generator that takes bibtex? Currently, we'd write a simple Python script that reformats to Core, and then use the Core ingester...

Is bibtex a common enough use case that we're just better off writing its own dedicated ingester?

Poking around, this seems reasonable? http

[2020-02-10 16:07] edwinzhng commented on #984
Seems reasonable to me, especially if other papers will be using BibTeX

[2020-02-11 11:53] lintool opened #986 "Ingest ACL Anthology into Anserini and then Solrini"
ACL Anthology: https://www.aclweb.org/anthology/

Once we implement indexer of bibtex files ref:  #984 this should be very easy.

Anthology data, in raw XML: https://github.com/acl-org/acl-anthology/tree/master/data/xml
Conversion script to bibtext: https://github.com/acl-org/acl-anthology/blob/master/bin/create_bibtex.py

[2020-02-14 20:41] lintool opened #990 "getPostingsList method in IndexReaderUtils should take analyzed form also"
Currently, the definition of `getPostingsList` in `IndexReaderUtils`:

[code]

Takes the raw (unanalyzed) form; we should probably implement a variant that takes the analyzed form as well.

[2020-02-16 15:49] lintool opened #991 "Refactor DocumentCollection: constructor should take path directly"
Currently, `DocumentCollection` subclasses take empty constructors, and then `setCollectionPath` is called. I don't remember the previous design rationale, but I always thought this was an odd design... Perhaps it was to make `forClass` initialization easier?

Either way, we should refactor to take path directly.

[2020-02-16 15:54] lintool commented on #991
Along the same lines, `DocumentCollection.createFileSegment` seems a bit odd. Why don't `FileSegment` implementations for constructors that directly take the path?

[2020-02-17 16:07] #991 closed

[2020-02-21 20:42] dzhao123 commented on #648
@lintool it seems I have smilar problem.
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  8.198 s
[INFO] Finished at: 2020-02-21T15:40:38-05:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execut

[2020-02-21 21:33] dzhao123 commented on #648
https://stackoverflow.com/questions/23260057/the-forked-vm-terminated-without-saying-properly-goodbye-vm-crash-or-system-exi?page=1&tab=votes#tab-top
Solved.

[2020-02-23 15:18] lintool commented on #986
The code for this is done for #994.

We should write up documentation for doing this, since ACL anthology is publicly available. Probably a single page, something like "Ingesting the ACL Anthology into Anserini and Solrini".

The goal when I write documentation is that someone should be able to replicate the results just by copy and pasting the commands.

[2020-02-23 15:18] edwinzhng commented on #986
Will add in the next PR

[2020-02-23 15:21] nikhilro commented on #984
#994 PR merged

[2020-02-23 15:21] #984 closed

[2020-02-23 15:21] nikhilro commented on #971
#994 PR merged

[2020-02-23 15:21] #971 closed

[2020-02-24 18:44] edwinzhng opened #995 "Build AclGenerator to Support Author, Venue, and SIG facets"
Building the [acl-anthology](https://github.com/acl-org/acl-anthology) data from the source code provides a nice directory with YAML files containing data for papers and volumes.

We want to:

1.  Support Lucene document generation using the YAML files for papers (this contains more information than Bibtex)
  * It would be good to create a new `AclGenerator` for these YAML files in addition to the

[2020-02-24 22:36] lintool commented on #995
Yes, please `BibtextGenerator` alone, as it's general-purpose for scientific collections.

[2020-02-24 23:51] nikhilro commented on #995
For the `BibtexGenerator`, we should still add a doc on how would one potentially use it, right? Now that `acl-anthology` ingestion doc will be for `AclGenerator`, what's the best place and way to provide some reference for `BibtexGenerator` @lintool?

[2020-02-25 01:11] lintool commented on #995
Let's focus on documentation for ACL (i.e., `AclGenerator`) for now. We'll document `BibtexGenerator` when we have a good public collection to demonstrate it on.

[2020-02-25 02:07] lintool commented on #995
Would it help if we created a repo, something like `https://github.com/castorini/acl-anthology-yaml` where you directly check in the pre-compiled YAML files. So that the documentation can directly `wget` from it or something like that?

[2020-02-25 02:15] edwinzhng commented on #995
It could help, but might be overkill since generating them from scratch is just:
1. Clone the `acl-anthology` repo
2. Install dependencies `pip install -r requirements.txt`
3. Generate files with `python3 bin/create_hugo_yaml.py`

I can include this in documentation? Otherwise we would need to periodically update our own repository once new papers get added etc

[2020-02-26 19:12] x389liu opened #1001 "ES with Core18 gives incorrect MAP value"
Ref: #927

Elasticsearch with Core18 gives MAP value 0.2401 instead of the expected value 0.2495.

[2020-02-26 23:00] lintool commented on #995
hey @edwinzhng @nikhilro - yup, just include those invocations in our docs, and we should be good.

Also, can you refactor your unit tests using the same abstraction in your next PR?

Thanks!

[2020-02-28 16:57] edwinzhng opened #1004 "Add Java linter for code formatting"
As mentioned in #1003, might be worth it to add a pre-commit hook for automatically formatting any modified files using https://github.com/Cosium/maven-git-code-format.

Code consistency would be nice to have without really sacrificing development speed :)

[2020-02-29 18:49] edwinzhng commented on #995
Closing since this was addressed by #1005

[2020-02-29 18:49] #995 closed

[2020-02-29 18:49] edwinzhng commented on #986
Closing, addressed by #1005

[2020-02-29 18:49] #986 closed

[2020-02-29 20:35] nikhilro commented on #1004
I find pre commit hooks to be annoying. I much prefer to code, commit, pull PR, see it fail a linter test, send a lint commit at the end lol. This is in combination with setting lint on save in code editor. So, if we just have a lint test and no pre commit hooks, that should help with not comprising development speed when you are actually developing; but also provide nice consistency before pushin

[2020-02-29 20:38] edwinzhng commented on #1004
Yeah good point, I used https://github.com/checkstyle/checkstyle so we can just add it to the project

[2020-03-03 04:32] edwinzhng opened #1009 "Refactor Solr schema scripts for ACL and CORE collections"
Currently, JSON data for our Solr schemas are put directly into the setup scripts. There are two ways we can refactor this:

1. Put JSON data in a separate file and have different schema files for adding or replacing fields, and allow our bash setup script to take the JSON data as a command line argument. In other words, we have a single setup script but multiple schema data files

2. Keep JSON da

[2020-03-03 17:11] nikhilro commented on #1009
1. sounds good

[2020-03-03 20:49] lintool opened #1010 ""Direct installation" of Lucene indexes into Solrini"
Solr is basically just a webapp around Lucene. It is possible to bypass the Solr indexing REST APIs and just directly copy the Lucene indexes into the right path in the Solr directory structure. We should provide documentation on how to do this, to save users an extra indexing step.

[2020-03-03 22:52] Aayushpatel007 opened #1011 "Index and search fields other than fields present in TREC dataset OR Multi_match query(Elasticsearch)perform in Elasterini"
How can I perform a multi-match query and index documents with multiple fields from elasterini?
Or how can i change the default search query when using elasterini?
In other words index and search fields other than fields present in TREC dataset. Is this possible right now?

[2020-03-04 04:50] edwinzhng commented on #1010
Looked into it a bit, according to the steps [here](https://stackoverflow.com/a/35927597) from 2016, we should:

1. Explicitly create the Solr schema via the JSON API for **all** fields (will need to add more on top of the existing schema scripts). This is also good since we can control types in one place instead of letting Solr infer the field type like it does right now. Probably makes sense to

[2020-03-04 11:13] lintool commented on #1010
hey @r-clancy you did this before, right? can you comment on whether @edwinzhng 's on the right track?

@edwinzhng for step 2 above we have pre-built indexes here: https://git.uwaterloo.ca/jimmylin/anserini-indexes

We can get just `wget` it and uncompress into the location that Lucene expects it... so we won't even need to change the `dataDir`?

[2020-03-04 13:21] lintool opened #1012 "Create a baseline for TREC background linking with Anserini"
@Chriskamphuis will work on this - from what I understand, the baselines can be generated directly by issuing the right commands - we need to document what these are.

I think this is just a markdown guide in `doc/` - might also want to check in the topics directly.

[2020-03-04 13:27] Chriskamphuis opened #1013 "Add option to change Analyzers in SimpleSearcher"
This can be implemented similarly as setting and unsetting RM3.
This will allow for different analyzers to be used when using the SimpleSearcher through Pyserini, for example when no tokenization is desired.

[2020-03-04 13:34] lintool commented on #1013
There are two approaches to doing this that I can see:

1. pass in the analyzer in the `SimpleSearcher` constructor. Currently, the constructor hard codes the analyzer: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SimpleSearcher.java#L110

2. Extend `search` related methods to be able to pass in an analyzer.

BTW, there's already `setLanguage` in `SimpleSearch

[2020-03-04 16:02] r-clancy commented on #1010
@lintool Yeah, I had done this before. @edwinzhng is on the right track - the process is just making sure the Solr schema aligns with the Lucene schema and copying the Lucene index (or changing the Solr data dir to point to the Lucene index) into the correct place.

[2020-03-04 16:15] lintool opened #1014 "Grab Semantic Scholar data for ACL papers"
Seems like Semantic Scholar provides API access, direct to ACL papers! https://api.semanticscholar.org/

Can we see what goodies we can get? Would be awesome to get citation stats - how many times the paper has been cited.

[2020-03-04 16:22] lintool commented on #1014
Oh nice!

For example:
https://api.semanticscholar.org/v1/paper/ACL:J07-1005
for https://www.aclweb.org/anthology/J07-1005/

[2020-03-04 16:24] lintool commented on #1014
Even better, there's a dump: https://api.semanticscholar.org/corpus/download/

[2020-03-05 17:49] lintool commented on #1011
Hi @Aayushpatel007 - not exactly sure what you mean, can you give a concrete example wrt to a TREC dataset?

[2020-03-05 22:07] Aayushpatel007 commented on #1011
Hii @lintool  Sure.
In addition to fields like "content", "title" from TREC documents, I am also extracting some Named Entities and keyphrases from TREC documents. Currently, I am using elasticsearch to index documents with additional fields(Named Entities/Keyphrases and metadata) and performing search operations on top of that using Elasticsearch "multi-match" query.
Now, my question is:
1. How c

[2020-03-06 11:24] #1012 closed

[2020-03-06 11:48] lintool opened #1016 "Replicate TREC background linking task results"
As a follow up to #1012 - it would be nice if someone who was not an author replicated the background linking task results.

[2020-03-06 12:11] lintool commented on #1016
Nice job @Chriskamphuis !
Works great. I just copy/pasted the commands and was able to replicate the results.

[2020-03-06 12:11] #1016 closed

[2020-03-06 12:56] #1013 closed

[2020-03-06 15:24] lintool commented on #1011
Yup, you'll have to tweak this: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexCollection.java#L409

and also the config file, as you've indicated above.

[2020-03-06 16:06] lintool opened #1022 "batchSearch method variant"
We need a variant of `batchSearch` in `SimpleSearcher` that has the method signature:

[code]

from the Pyserini end.

[2020-03-06 17:44] Aayushpatel007 commented on #1011
Thanks @lintool I will try it out.

[2020-03-06 17:52] edwinzhng commented on #1014
Should I be doing this in a separate repository? Or just write a script and put this in here

[2020-03-06 22:28] #990 closed

[2020-03-07 02:27] jianzhu opened #1025 "compile error: dependency not found"
After I clone this project and compile it, I came across the following error:

[ERROR] Failed to execute goal on project anserini: Could not resolve dependencies for project io.anserini:anserini:jar:0.7.3-SNAPSHOT: The following artifacts could not be resolved: io.anserini:anserini-fastutil:jar:6.5.6, com.github.TREMA-UNH:trec-car-tools-java:jar:13: Could not find artifact io.anserini:anserini-fas

[2020-03-07 02:48] jianzhu commented on #1025
I have fixed the above problem with the right maven settings.xml configuration

[2020-03-07 02:48] #1025 closed

[2020-03-07 18:56] #1022 closed

[2020-03-09 11:42] lintool commented on #1001
Closed by #1030

[2020-03-09 11:42] #1001 closed

[2020-03-09 11:43] lintool commented on #927
Closed by #1030

[2020-03-09 11:43] #927 closed

[2020-03-09 11:45] lintool commented on #811
With #1030 we now have a consistent set of regressions for `robust04`, `core18`, and `msmarco-passage`.

[2020-03-09 11:45] #811 closed

[2020-03-11 08:26] mam10eks opened #1034 "Add Resources + Regressions for TREC Million Query Track (2007 - 2009)"
Is there a reason why `src/main/resources/topics-and-qrels` does not contain qrels/prels + topics for the Million Query Tracks?

I can include the million query resources together with regressions (because I would need them).

[2020-03-11 08:38] lintool commented on #1034
Yup, contributions would be welcome! Let me know if you need any help hooking into our setup.

[2020-03-11 22:16] mam10eks commented on #1034
The pull request #1036 would add all the required resources. (Although we may discuss whether it is ok to add the "inofficial" qrels.)

[2020-03-12 16:40] mam10eks commented on #1034
Done with #1036

[2020-03-12 16:40] #1034 closed

[2020-03-16 14:55] lintool commented on #472
Ref #1038 - initial steps in that PR.

[2020-03-19 20:09] wuyaoxuehun opened #1039 "java.lang.ClassNotFoundException: io.anserini.index.IndexCollection"
When I try to do "nohup sh target/appassembler/bin/IndexCollection ..." after I have done "mvn clean appassembler:assemble", I just get the ClassNotFound Exception. I have tried on WIndows and ubuntu, but the same problem remains.  I am using maven 3.6.3 and java 11.
This is my project hierarchy.
![4PP3A268B}PJANZ3 8SGH$F](https://user-images.githubusercontent.com/26178145/77110334-64df9380-6a60-1

[2020-03-19 20:39] lintool commented on #1039
Does Maven build give any errors? It appears that you have files left over from the test cases, which should have been cleaned up automatically... this suggests that the build might not have completed successfully?

[2020-03-20 07:22] wuyaoxuehun commented on #1039
I used "mvn clean appassembler:assemble" without parameter "package", Many Thanks!@lintool

[2020-03-20 07:39] ABDULAZIZALQATAN opened #1041 "Do you have indexer for CLEF-IP Collection"
Dear Sir
I have a collection called CLEF-IP - Patents Documents Collection

this is a paper that clarifies this collection
[http://ceur-ws.org/Vol-1176/CLEF2010wn-CLEF-IP-PiroiEt2010.pdf](http://ceur-ws.org/Vol-1176/CLEF2010wn-CLEF-IP-PiroiEt2010.pdf)

these are some sample XML Files
[trymini_xml.zip](https://github.com/castorini/anserini/files/4358310/trymini_xml.zip)

The question is Can Anserin

[2020-03-20 07:59] #1039 closed

[2020-03-20 08:05] lintool commented on #1041
Looks like you have need to write a custom `Collection` class to process it directly; see examples here: https://github.com/castorini/anserini/tree/master/src/main/java/io/anserini/collection

You're other option is to write a Python script to convert the files into JSON, and then you can use the same instructions for MS MARCO: https://github.com/castorini/anserini/blob/master/docs/experiments-msm

[2020-03-20 08:14] ABDULAZIZALQATAN commented on #1041
Thanks sir
Supportive as usual 👍

[2020-03-20 08:14] #1041 closed

[2020-03-22 01:21] lintool opened #1044 "COVID-19 collection: Implement passage indexing"
As discussed: an article = ID, TITLE + ABSTRACT (+ P1 + P2 + P3)?...

Decompose into:

+ ID, TITLE + ABSTRACT
+ ID.0001, TITLE + ABSTRACT + P1
+ ID.0002, TITLE + ABSTRACT + P2

[2020-03-22 01:24] lintool opened #1045 "COVID-19 documentation tweaks"
Comments, minor fixes: roll up in your next PR:
https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md

**1.**

`${DATA_DIR}` -> add the date of the collection in the path; I assume we're going to get frequent updates, so let's not get them confused.

**2.**

[code]

I don't think `--replace` works on Mac.

[2020-03-22 01:52] nikhilro commented on #1045
1. will do
2. @lintool can you confirm if `-I` instead works on mac

[2020-03-22 02:03] lintool commented on #1045
nope:

[code]

It's only four files.... maybe it's easier just to uncompress each explicitly, rather than futz with cross-platform compatibility? Like, what about Windows?

[2020-03-22 08:41] Erdene-Ochir0417 opened #1046 "0 files found on core18 dataset"
The script was:
[code]
There is all.json in data directory but in log file:
Initializing collection in data
[code]

[2020-03-22 11:08] lintool commented on #1046
Which version of the corpus are you using? For me, it's -

[code]

[2020-03-22 13:31] lintool commented on #1044
Additional thought: we probably only want to store the raw docs in `ID`? Otherwise, we'd blow up the index size by a lot...

For, for example, if we retrieve `ID.0001`, we'd look up the raw doc in `ID`?

[2020-03-22 14:40] lintool commented on #1045
Also, next iteration, add link from main `README.md`.

[2020-03-22 14:56] nikhilro commented on #1044
Makes sense

[2020-03-22 15:10] lintool opened #1048 "Discussion point: SourceDocument design"
Follow up to #1047

We need to rethink the indexing pipeline re: "contents" and "raw", because there's a lot of confusion, mostly because the design has evolved over time...

In the Lucene document, we've agreed (and this is clear) that "contents" field should be the content as indexed for searching, and "raw" should be the raw source document.

What about `SourceDocument` then? Currently, it only

[2020-03-22 15:11] nikhilro commented on #1048
I'm about to create a PR which could serve as an example

[2020-03-22 15:18] nikhilro commented on #1048
This doesn't hold because the way I implemented there is one-to-one mapping

[2020-03-22 15:22] edwinzhng commented on #1048
I like the separate fields too for contents and raw, allowing the SourceDocument to build it's own separation makes things more organized imo

[2020-03-22 15:49] nikhilro commented on #1048
Meat of the resolution in this comment in PR #1049: https://github.com/castorini/anserini/pull/1049#issuecomment-602228384

[2020-03-22 15:51] lintool commented on #1048
Okay, this will be a fairly painful refactoring to get everything in this format, so we'll punt it for later.

[2020-03-22 15:55] lintool commented on #1048
Actually, if we take this design to the logical conclusion, should the generator also be folded into the collection?

That is, each `SourceDocument` knows how to generate its own corresponding Lucene document? Or, do we like the separation between Lucene and non-Lucene code?

[2020-03-22 16:03] nikhilro commented on #1048
I don't even see the need for any refactoring because there is an implicit assumption that `content` == `raw` unless `SourceDocument` for that `Collection` specifies `raw`, no?

I like the separation between Lucene and non-Lucene code. It's nice and clean

[2020-03-22 16:06] lintool commented on #1048
I see, I suppose we can change `SourceDocument` to abstract, and make one dispatch to the other, overridable by subclasses if need be?

[2020-03-22 16:10] nikhilro commented on #1048
I don't know Java but that sounds reasonable. cc @edwinzhng

[2020-03-22 17:28] #1044 closed

[2020-03-22 17:30] nikhilro commented on #1045
Resolved by #1049

[2020-03-22 17:31] #1045 closed

[2020-03-23 02:51] #1046 closed

[2020-03-23 02:55] Erdene-Ochir0417 opened #1057 "ValueError: chr() arg not in range(0x110000)"
Is there any example on japanese dataset?

I tried msmarco code on japanese dataset but there is encode error. Python reads correctly and java couldn't read correctly.
[code]

[2020-03-23 11:39] lintool commented on #1011
Having heard no follow up, I'm closing. Reopen if necessary.

[2020-03-23 11:39] #1011 closed

[2020-03-23 12:09] #1048 closed

[2020-03-23 13:08] lintool commented on #1057
See this issue: https://github.com/castorini/pyserini/pull/50

[2020-03-23 13:08] #1057 closed

[2020-03-24 02:35] lintool opened #1060 "covidsearch.io improvements"
A few things I noticed playing with the interface.

1. We should probably mark bioarxiv and medarxiv papers prominently, since they're not peer reviewed. Also, they don't appear in a facet under "Journal". They should?

2. Also, we seemed to have discovered the secrets to communicating from the future...

<img width="844" alt="Screen Shot 2020-03-23 at 10 33 11 PM" src="https://user-images.githubu

[2020-03-24 04:19] edwinzhng commented on #1060
1 - they're faceted under "source" since that's where the dataset indicates biorxiv and medarxiv, I can add the indicator though

2 - dates are just weird from upstream, hopefully they can just update it for the next dataset release but in the meantime we could just display year only to keep it simple?

[2020-03-26 01:18] lintool opened #1064 "SimpleSearcher flaky test case"
From time to time, `SimpleSearcher` test case fails with an exception along the lines of:

[code]

[2020-03-26 20:28] #1064 closed

[2020-03-27 09:28] subhash-pujari opened #1066 "error on mvn clean package appassembler:assemble"
On running $ mvn clean package appassembler:assemble

got following test failure:

Failed tests:   testStreamIteration(io.anserini.collection.BibtexCollectionTest): expected:<author_name1  and[](..)
  testManualSegmentInitialization(io.anserini.collection.BibtexCollectionTest): expected:<author_name1  and[](..)
  testIterateCollection(io.anserini.collection.BibtexCollectionTest): expected:<author_

[2020-03-28 18:29] #1066 closed

[2020-03-28 18:30] subhash-pujari commented on #1066
I am getting the above error when working on windows with maven, is it advised to build the system on linux machine?

[2020-03-28 18:33] lintool commented on #1066
Yes, we don't have much experience with Windows because most of our team members use Mac and/or Linux.

[2020-03-28 18:34] lintool commented on #1060
Confirmed with AI2 that (2) is an upstream data issue. (1) has been fixed.

[2020-03-28 18:34] #1060 closed

[2020-03-28 18:37] lintool commented on #1009
Issue resolved in #1069 and and #1068.

[2020-03-28 18:37] #1009 closed

[2020-03-28 18:38] lintool commented on #605
There doesn't seem to be any interest in pursuing this.

[2020-03-28 18:38] #605 closed

[2020-03-28 19:07] edwinzhng opened #1072 "Update COVID collections to use ID provided in CORD-19 metadata"
The alphanumeric ID provided by AI2 should be used instead of the CSV row number so that the ID is consistent across index updates.

[2020-03-29 13:25] lintool opened #1074 "Add MS MARCO document to Solr"
[Solrini](https://github.com/castorini/anserini/blob/master/docs/solrini.md) currently works only on MS MARCO passages. Would be nice to get it working on MS MARCO documents as well.

[2020-03-31 14:16] lintool opened #1075 "Expose ANN search functionality in Pyserini"
We should expose approx NN search in Pyserini, with something like `SimpleNearestNeighborSearcher`.

[2020-03-31 14:24] tteofili opened #1076 "queries for DOIs on Covid experiments shouldn't include partial matches"
this is probably due to DOIs in CovidCollection to be tokenized.

[2020-04-04 09:34] #1072 closed

[2020-04-04 14:29] lintool commented on #1076
@tteofili this appears to be indexed correct: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/generator/CovidGenerator.java#L121

I think the issue is that searching over fields isn't being properly exposed on the Python side?

[2020-04-04 14:30] lintool commented on #1075
Closed by #1078

[2020-04-04 14:30] #1075 closed

[2020-04-05 15:34] tteofili commented on #1076
agreed.

[2020-04-07 11:08] lintool commented on #1074
Closed by #1077

[2020-04-09 20:28] Narabzad opened #1085 "TF_IDF for dumped document vector(s), NONE or TF_IDF difference?"
I am trying to get the TF_IDF vector of dumped documents but I get tf of terms instead of tf-idf of terms using following command:

target/appassembler/bin/IndexUtils -index /data/anserini/lucene-index.robust04.pos+docvectors+rawdocs/ -dumpDocVector FBIS4-40260 -docVectorWeight TF_IDF

How can I get the tf-idf vector of documents?

[2020-04-10 21:18] lintool opened #1087 "Elasticsearch regressions for MS MARCO documents"
We have MS MARCO documents regressions working for Solr, we should get it working on ES also.

[2020-04-11 11:33] dinasayed opened #1089 "Colab demo that demonstrates integration with SciBERT - Error"
First, thank you very much for sharing these demos for working with Covid-19 dataset:
 https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md

Well, I am trying to run : Colab demo that demonstrates integration with SciBERT
But when I changed the query to 'what are the effectiveness of drugs being developed and tried to treat COVID-19 patients'
the notebook fails to complete r

[2020-04-11 13:54] tteofili commented on #1089
the issue here is that not all documents have `body_text` (the full text of the article content) available (you can also see that there is a check for that in `show_document` method too).
The doc no. 7 in search results on your query doesn't have full text and hence the error.

For the sake of demo / trying out the notebook, I'd suggest selecting a different document that has full text, otherwise

[2020-04-11 19:52] lintool opened #1091 "Better tokenization for COVID-19 and related terms"
Anserini currently uses [`DefaultEnglishAnalyzer`](https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/analysis/DefaultEnglishAnalyzer.java), but tokenizes "COVID-19" into "COVID" and "19". It'd be nice to fix this.

Other related terms - 2019-nCoV and SARS-CoV-2.

Perhaps the solution is to implement a `DefaultCovidEnglishAnalyzer` that subclasses `DefaultEnglishAnalyzer`?

[2020-04-12 11:00] lintool commented on #1085
Hi @Narabzad - it appears that dumping individual doc vectors is only TF, based on code here: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexUtils.java#L194

this: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/IndexUtils.java#L208 however, does appear to compute TD-IDF.

Alternative, if it's more convenient for you, use Py

[2020-04-16 11:37] hscells opened #1095 "add commit hash in release history"
Thank you for all the amazing work with this search tool, I am very keen to get started using it. One problem that has just caused me some frustration is installing anserini and pyserini at the same time. It seems there was a class called `JsoupGenerator` in anserini which was removed some time ago, but pyserini still looks for it. This caused pyserini to give an class not found exception. I manag

[2020-04-16 12:09] yashwatwani opened #1096 "not able to find target/appassembler/bin/IndexCollection"
sh: 0: Can't open target/appassembler/bin/IndexCollection
I got the target folder by running this mvn clean package appassembler:assemble
but what to do after this?

[2020-04-16 23:06] lintool commented on #1096
Did maven produce any errors?

[2020-04-16 23:10] lintool commented on #1095
hey @hscells thanks for the feedback.

As we write in the Pyserini README:

We are careful to make sure the PyPI modules and Maven artifacts work seamlessly in the official releases, and, in general, we try to make sure HEAD of anserini works with HEAD of pyserini. You stumbled on a case where changes in anserini HEAD broken pyserini.

Sorry about that! I'm working on fixing right now...

[2020-04-17 10:50] tteofili commented on #1091
I've added a first version of such an Analyzer which uses Lucene's ClassicAnalyzer instead of StandardAnalyzer.
Another possible improvement would be not to lowercase tokens related to e.g. proteins, like "A protein" becomes "a" and "protein" and so a very relevant term would finish in the bucket of highly unrelevant (or even stopwords) terms.

[2020-04-17 11:15] #1095 closed

[2020-04-17 14:01] lintool opened #1100 "TopicReader for TREC-COVID"
We need a topic reader for TREC-COVID topics https://ir.nist.gov/covidSubmit/data/topics-rnd1.xml

[2020-04-18 10:49] lintool commented on #1100
Closed by #1102

[2020-04-18 10:49] #1100 closed

[2020-04-18 10:49] lintool commented on #1089
Having heard no follow up, closing. Reopen if necessary.

[2020-04-18 10:49] #1089 closed

[2020-04-18 10:50] lintool commented on #1085
Having heard no follow up, closing. Reopen if necessary.

[2020-04-18 10:50] #1085 closed

[2020-04-19 12:35] lintool opened #1105 "Store CSV record in JSON in raw()"
Hi @edwinzhng - as I understand, in the current design of the Covid collections, if a document does not have full text, the CSV record is converted into a JSON and stored as the `raw()`. If there's full text, the full text itself is stored in the `raw()`. Right?

However, in the case of full text, there seems to be information in the CSV record (e.g., `cord_uid`, `pmcid`, etc.) that gets lost? Sho

[2020-04-19 18:57] edwinzhng commented on #1105
Yeah good point, it would be a good idea to standardize the raw field to be the same format across the board:

[code]

[2020-04-20 10:16] rossbrown9879 opened #1107 "Setup required before starting indexing."
I'm new to this project and I want to build index on MS-MARCO documents dataset, for document ranking task.

The readme mentions using following command to start indexing.
[code]
I don't know much about this script. I ran the same command and got the following in one newly created file named `log.msmarco-doc.pos+docvectors+rawdocs` :
[code]
What I understood from reading this is, there was somethi

[2020-04-20 11:42] rossbrown9879 commented on #1039
I tried running this without param package, but I'm also getting the same error @lintool

[2020-04-20 11:52] lintool commented on #1107
What java version are you using?

[2020-04-20 12:19] rossbrown9879 commented on #1107
@lintool thanks for quick reply.
I'm using following java version.
[code]

Looks like I've progressed a bit on this. I'm sorry for my confusion.
What I've done till now is :
(1) Cloned this repo to Desktop
(2) `cd Desktop/anerini`
(3) Created a target folder using `mvn clean appassembler:assemble`
(4) Created a directory `msmarco-doc/collection`, and downloaded zipped corpus in this folder.
(5) Ra

[2020-04-20 12:32] lintool commented on #1107
Your build is failing:

[code]

Scroll up further up in your Maven output to see why?

[2020-04-20 12:48] rossbrown9879 commented on #1107
@lintool  The part above `Results : `, in the log I provided in comment above contains list of tests like this.
[code]
I see that none of the test have any failures. The part before those tests contain following warnings :
[code]
I do not see any log mentioning cause of failure of the build.  I can not understand the following mentioned when `BUILD FAILURE` is logged at the end.
[code]

[2020-04-20 12:51] rossbrown9879 commented on #1107
I think the build is failed because of `Failed to execute goal org.apache.maven.plugins:maven-javadoc-plugin:3.1.0:ja` But I'm not sure about this. Is it anything related to my java version?

[2020-04-20 12:59] lintool commented on #1107
What's the error associated with `org.apache.maven.plugins:maven-javadoc-plugin:3.1.0`?

[2020-04-20 13:11] wuyaoxuehun commented on #1039
You should run with that package.

[2020-04-20 13:38] rossbrown9879 commented on #1107
@lintool following is the error
on project anserini: MavenReportException: Error while generating Javadoc: Unable to find javadoc command: The environment variable JAVA_HOME is not correctly set. -> [Help 1]

[2020-04-20 15:16] lintool commented on #1107
Yes, you should set your `JAVA_HOME` appropriately then. Not knowing the specifics of your setup, it would be easier to search online to find out how to do so...

[2020-04-20 17:29] lintool commented on #1074
We seem to be getting minor differences:

[code]

We should look into this...

[2020-04-21 13:40] twelveth opened #1111 "Documentation enhancement"
Hi.
This is not an issue, but maybe an enhancement request.
I'm trying to use anserini for custom collection, and it's rather hard for me to figure out how to build pipeline from scratch.

For example, however there are a lot of scripts about how to reproduce some particular results, I couldn't find any information about format of document, which anserini takes as input to index custom collection.

[2020-04-21 13:43] lintool commented on #1111
Hi @twelveth thanks for your feedback. Yes, better documentation is indeed on our TODO list!

In the meantime, the quickest way to get started would be to write a simple script (e.g., in Python) to covert your collection into the MS MACRO JSON format (which is fairly simple), and then you can reuse the MS MARCO pipeline: https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-pa

[2020-04-21 15:04] lintool commented on #1096
Not having heard any follow up, closing issue. Please reopen if necessary.

[2020-04-21 15:04] #1096 closed

[2020-04-21 15:20] twelveth commented on #1111
Thank you for your answer @lintool. Can you explain this format please or provide me with link to its description? On TREC DL page I've found only tsv format explaination, nothing about json, but dataset size is rather big (22Gb) to download it just to find out its structure.

[2020-04-23 15:05] lintool commented on #1107
Having heard no follow up, closing issue. Reopen if necessary.

[2020-04-23 15:05] #1107 closed

[2020-04-24 10:03] lintool opened #1113 "Simplify solr loading"
I'm wondering if the managed schema can be simplified: https://github.com/castorini/anserini/blob/master/src/main/resources/solr/anserini/conf/managed-schema

In particular, there's all this non-English text fields that's not being used... along with lots of dynamic fields...

Could also eliminate the need to upload all the stopwords lists:
https://github.com/castorini/anserini/blob/master/src/mai

[2020-04-24 12:40] lintool commented on #1105
I propose something like this following, minimal modifications wrt original JSONs:

For abstract only:

[code]

For full-text:

[code]

Thoughts? Can we get this in place in time for tonight's data drop?

[2020-04-25 13:30] lintool opened #1116 "Rename classes from Covid* to Cord19*"
With the publication of the paper [CORD-19: The Covid-19 Open Research Dataset](https://arxiv.org/abs/2004.10706), I think it's important to accurately capture the _actual_ name of the dataset.

[2020-04-25 20:14] lintool commented on #1116
The Solr stuff needs to be renamed from `covid` to `cord19` also:
https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md

[2020-04-25 21:09] #1105 closed

[2020-04-26 20:18] lintool opened #1120 "Replicate 20 newsgroup classification w/ scikit-learn + Anserini"
Let's try and replicate 20 newsgroup classification w/ scikit-learn using Anserini:
https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html

That is, use Anserini to extract the tf-idf vectors that feed the classifiers in scikit-learn.

Whoever is interested in taking this on, I can guide step by step, but the first step is to write Collection class to index 20 newsgrou

[2020-04-26 20:27] lintool opened #1121 "Write up instructions to spin up basic covidex"
Write up instructions, adding to https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md on how to spin up https://basic.covidex.ai/ i.e., using https://github.com/castorini/gooselight2

[2020-04-26 20:30] lintool commented on #1074
Closed by #1115

[2020-04-26 20:30] #1074 closed

[2020-04-26 21:07] x65han commented on #1121
Claiming this issue.

[2020-04-27 09:53] lintool opened #1123 "Impact of aligning initial retrieval tokenization with later transformer stages?"
What if we performed initial retrieval using the same tokenizer that's used in the transformer-based reranking stage (e.g., BPE, SentencePiece, etc.)? What would be the impact?

[2020-04-28 15:09] Chriskamphuis opened #1125 "Phrase queries in Pyserini"
We would like to be able to issue phrase queries using Pyserini. For this a few updates are needed on Anserini's side. I propose to implement the following:

- A phrase query generator
- A `phraseSearch` function in the `SimpleSearcher.java` class

[2020-04-28 15:53] lintool commented on #1125
Hi @Chriskamphuis do you want phrase queries in general or do you want `df` for phrases specifically. If you want the former, then Pyserini already exposes this:

https://github.com/castorini/pyserini/blob/master/pyserini/search/pysearch.py#L75

You can pass in your own query generator...

On the other hand, if you want `df` for phrases, the point of modification should be this: https://github.com

[2020-04-28 17:08] Chriskamphuis commented on #1125
I want to get the `df`, so I thought this would be a first step. Great that it is already possible. Thanks for the links, I will modify the `IndexReaderUtils` instead. Do you think the best way would be to traverse the postingslist of the phrase terms (in the `df` function) to see whether they form a phrase?

[2020-04-29 21:49] stephaniewhoo opened #1127 "weird documents in COVID-19 Open Research Dataset paragraph index"
While iterating through the paragraph index( `lucene-index-cord19-paragraph-2020-04-17`), some outliers are identified.

1. There are files e.g.(`docid: 'ij3ncdb' `,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4896250/) has a really long abstract and the abstract is appended to each paragraph index caused the index file size explosion.

2. There is a weird file. Cord-uid is `'hwjkbpqp'`, doi is `'

[2020-04-29 23:02] lintool commented on #1125
I don't have any insight on what the best implementation is going to be... traverse postings ourselves or push off into a Lucene phrase query... but the latter is easier, so try first?

[2020-04-30 01:49] hscells commented on #1127
I also found that the paragraph index is strange: for some reason the title and abstract are concatenated to each paragraph. Is there a reason for this @lintool?

[2020-04-30 01:57] lintool commented on #1127
Yes, the concatenation is intentional: https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md#paragraph

See: https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-46

Prepending title definitely helps, we believe (based on eyeballing results). Unclear whether title + paragraph > title + abstract + paragraph.

[2020-04-30 11:48] lintool commented on #1127
+ `ij3ncdb` was noted in #1109
+ `hwjkbpqp` is a new observation.

[2020-04-30 13:12] #1127 closed

[2020-04-30 14:39] yuki617 commented on #1120
Currently working on this.

[2020-04-30 21:03] #1116 closed

[2020-05-01 03:46] eribeiro commented on #1113
Hi, you could use the Alexander Rafalovitch's simple Solr config as a basis for this issue: https://github.com/arafalov/simplest-solr-config

References:

* http://www.slideshare.net/lucidworks/rebuilding-solr-6-examples-layer-by-layer-presented-by-alexandre-rafalovitch-search-stack-solutions

* http://www.slideshare.net/arafalov/rapid-solr-schema-development-phone-directory

[2020-05-01 18:39] lintool commented on #1076
This issue has been addressed.

[2020-05-01 18:39] #1076 closed

[2020-05-01 18:39] #940 closed

[2020-05-01 23:55] HangCui0510 commented on #1087
I will work on this one

[2020-05-04 13:38] lintool opened #1139 "Add TREC-COVID round2 queries"

[2020-05-05 18:05] lintool opened #1150 "Loading CORD-19 in Elasticsearch"
Might be interested in build the bindings to load CORD-19 into Elasticsearch - that we can get visualizations from Kibanna basically "for free".

[2020-05-05 21:54] lintool commented on #1087
Code merged with #1151

@HangCui0510 can you update the documentation? https://github.com/castorini/anserini/blob/master/docs/elastirini.md

[2020-05-05 21:55] lintool commented on #1150
@HangCui0510 You might be interested in working on this?

[2020-05-05 22:19] HangCui0510 commented on #1087
Yes, I will update it.

[2020-05-05 22:19] HangCui0510 commented on #1150
Sure, I will look into it.

[2020-05-06 07:07] zkt12 opened #1153 "Cord-19 index and result"
I follow exactly the instructions to build cord19 index, and retrieval. The ndcg@10 (query-udel round1 04-10) on full-text index is 0.4996, which is claimed 0.5407. Why?
And, when I build the paragraph index (05-01), only 1.72m are indexed, which is claimed 1.76m.

[2020-05-06 11:32] lintool commented on #1153
As a first step to debugging, why don't you start with the pre-built indexes first?
We also provide the 05-01 index pre-built.

After that, we need more details... what OS, Java version, etc.
It'd be helpful if you copy and pasted the exact commands to be clear.

[2020-05-06 12:02] zkt12 commented on #1153
I tried to get pre-built indexes, seems the dropbox is not available for mainland China, even use VPN.

So I built the indexes like this:

DATE=2020-05-01
DATA_DIR=./cord19-"${DATE}"
mkdir "${DATA_DIR}"

wget https://ai2-semanticscholar-cord-19.s3-us-west-2.amazonaws.com/latest/comm_use_subset.tar.gz -P "${DATA_DIR}"
wget https://ai2-semanticscholar-cord-19.s3-us-west-2.amazonaws.com/latest/noncom

[2020-05-06 12:10] lintool commented on #1153
Well, you're trying to evaluate retrieval against the 5/1 corpus using qrels from the 4/10 corpus, so of course your numbers are going to be lower... TREC-COVID round 1 is against the 4/10 corpus, so to replicate results you'll have to use that.

[2020-05-06 12:35] zkt12 commented on #1153
Sorry, I didn't make it clear.
I've built the abstract, full-text and paragraph indexes for both 04-10 and 05-01 corpus. There are 2 differences with what you claimed:
1. When I retrieval on 04_10 full-text index, the ndcg@10 is 0.4996.
2. When I build 05_01 paragraph index, there are only 1.72m are indexed.

[2020-05-06 13:49] lintool commented on #1153
Our indexes are mirrored here: https://git.uwaterloo.ca/jimmylin/cord19-indexes

Can you try with pre-built indexes?

[2020-05-06 19:07] lintool commented on #1153
I think I understand the issue now. After the construction of the pre-built indexes, I manually did some data cleaning to blacklist a few outlier documents, see: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/index/generator/Cord19Generator.java#L95

For example: https://github.com/castorini/anserini/commit/37491d114ce09b3de16e93027846b532059d95a7

Note that this was d

[2020-05-06 23:54] lintool opened #1157 "Write a script that takes a run and subtracts qrels"
For generating residual runs for TREC-COVID. Takes:

+ a run
+ qrels

Generates a new run that has the qrels removed, up to a particular _k_ per topic. Reorders ranks to be consecutive, sanity check for score ties.

Put it in `src/main/python/trec-covid`?

[2020-05-07 00:01] lukuang commented on #1157
I wrote one for myself already. Will make some changes and do a PR

[2020-05-07 00:06] x65han commented on #1157
Oh nice!

[2020-05-07 11:24] lintool commented on #1139
Closed by #1140

[2020-05-07 11:24] #1139 closed

[2020-05-07 11:51] lintool opened #1161 "Write a clean script that performs fusion"
Here: https://github.com/castorini/anserini/blob/master/docs/experiments-covid.md

[code]

I've been using the above snippet to perform run fusion using RRF, etc. We should codify this into a clean script.

@x65han can you do this?

[2020-05-07 12:01] #1125 closed

[2020-05-07 12:03] Chriskamphuis commented on #1125
Made available through https://github.com/castorini/anserini/pull/1154

[2020-05-07 17:11] #1157 closed

[2020-05-07 17:48] x65han commented on #1161
Yeap, I have a script for this.

[2020-05-07 21:32] lintool opened #1166 "Improvements to measure_judged.py"
Let's make the behavior closer to `trec_eval`?

Output should be 0.XXXX - four sig digits, and something like:

[code]
(tab separated)

With `-q` option, prints per topic scores (instead of `all`), just like `trec_eval`.

[2020-05-07 21:55] #1153 closed

[2020-05-07 23:37] #1161 closed

[2020-05-08 11:32] lintool opened #1168 "QueryGenerator or QueryConstructor"
Here: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SearchCollection.java#L127

We're inconsistent in the use of `QueryGenerator` and `QueryConstructor`: should we standardize? I think I like `QueryConstructor` better, so this would entail renaming all the classes?

Thoughts @Chriskamphuis ?

[2020-05-08 11:55] Chriskamphuis commented on #1168
I agree, especially if we ship this to Python it can be confusing with the native python generator objects.

[2020-05-08 11:57] lintool commented on #1168
The method name is called `buildQuery`... what about "builder"?

So, builder vs. constructor vs. generator? Maybe builder is even better because it doesn't get confused with class constructors?

[2020-05-08 12:00] Chriskamphuis commented on #1168
Sure, however the native Lucene Query objects have a Builder object they use. So it would look something like this:
[code]

which is a bit confusing maybe?

[2020-05-08 12:07] lintool commented on #1168
hrm. I like calling it "builder" but if we don't adopt Lucene's idiom, will we create confusion? I think separate builder classes in our context is over-engineering...

[2020-05-08 13:17] lintool commented on #1168
Clarified over Slack. @Chriskamphuis 's main point above is that if we named our class Builder, then internally we'll have to call Lucene's builder, which makes it terrible confusing with variable names...

tl;dr - since all the terms are overloaded and ambiguous (but in different ways), we're just going to stick to "generator", so the fix is to rename the "constructor" in `SearchCollection`.

[2020-05-08 14:51] #1168 closed

[2020-05-08 14:56] lintool opened #1171 "Add SDM regression"
We don't have SDM regression tested. We should fix this.

[2020-05-08 19:50] lintool opened #1173 "MAP for ES regression on MS MARCO doc slightly different from Lucene values"
Follow up to #1167

I ran this:

[code]

In the end I got .2308 MAP, but that doesn't actually match the .2310 MAP reported here: https://github.com/castorini/anserini/blob/master/docs/regressions-msmarco-doc.md

@HangCui0510 @eiston

[2020-05-09 04:36] HangCui0510 commented on #1173
I ran this:
https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-doc.md

Instead of 0.2310 or 0.2308, I got:
<img width="487" alt="Screen Shot 2020-05-09 at 12 30 50 AM" src="https://user-images.githubusercontent.com/64120158/81464019-56724600-918c-11ea-9e03-d36b31703fa3.png">

[2020-05-09 10:15] lintool commented on #1173
@HangCui0510 hrm... can you debug and see what's going on?

[2020-05-09 18:39] HangCui0510 commented on #1173
okay

[2020-05-10 01:39] egzhbdt commented on #1111
Hi,
We kept this documentation for our workflow, basically a summarization of this thread. In case someone else in the future wants a quick start.

## Indexing and Retrieving a Custom Collection

Anserini supports indexing and retrieving a custom collection.

If you are looking to build a search pipeline with such collection, you might want to try with the following steps. The use case is suitable

[2020-05-10 10:21] DylanJoo opened #1178 "LuceneIndexing errors on lateset repo?"
I have tried to reproduce the doc2query related experiment.  I cloned the lastest master repo, but indexing parts failed with the following errors.
But I found out that it works on older branches.(say fastutil-removal)
It's little bit confusing, not sure what the real problem is.
(p.s. I run indexing on google colcab vm, and now it worked)

java.lang.NoSuchMethodException: io.anserini.index.genera

[2020-05-10 12:08] lintool commented on #1111
hi @egzhbdt - thanks, this is great!

Can you just dump all the contents above into a file, something like `docs/custom-collections.md` and send a PR? It'd be great to get this merged directly into the repo docs!

[2020-05-10 12:11] lintool commented on #1178
What instructions have you been following? Can you send link?

Should be `DefaultLuceneDocumentGenerator` instead of `LuceneDocumentGenerator`. Maybe we have outdated documentation that needs to be updated?

[2020-05-10 13:15] lintool commented on #1150
With ELK, I think we can replicate some of the views here directly out of the box?
https://scisight.apps.allenai.org/

[2020-05-10 14:08] DylanJoo commented on #1178
@lintool Big thanks! `DefaultLuceneDocumentGenerator` works;)
Yes, it seems that the [dttttq](https://github.com/castorini/docTTTTTquery) & [doc2query](https://github.com/nyu-dl/dl4ir-doc2query) instructions need to be updated.

[2020-05-10 14:10] lintool commented on #1178
Can you please send PR with updates? That way we can acknowledge your contributions!

[2020-05-10 14:59] DylanJoo commented on #1178
@lintool OKay, I have PR the updates!

[2020-05-10 15:10] #1178 closed

[2020-05-11 02:36] yuki617 commented on #1120
This is the link for the jupyter notebook which replicated the 20newsgroup https://github.com/yuki617/anserini/blob/tfidf/20newgroup_replication.ipynb

[2020-05-11 11:44] lintool commented on #1120
Closing this issue and move over to https://github.com/castorini/pyserini/issues/99

The Anserini side has been completed, the rest to be done on the Pyserini end.

[2020-05-11 11:44] #1120 closed

[2020-05-12 17:10] HangCui0510 commented on #1173
I think the problem is in [msmarco-doc config](url). I am making adjustments on mapping parameters to see what's going on. It takes a very long time for each run.

[2020-05-15 12:35] cmacdonald opened #1198 "Test failures (Java 13, encoding issues)"
[code]

[2020-05-15 12:37] cmacdonald opened #1199 "tests fail when under non UTF8 LANG setting"
[code]

my LANG is en_GB.
if my LANG is en_GB.UTF-8 it works fine.

[2020-05-15 12:38] lintool commented on #1198
Seems like a known issue: https://github.com/jacoco/jacoco/issues/828

[2020-05-15 12:39] lintool commented on #1199
Ah, good call. We had related issues before, thought I whacked all the moles. Will go back to whacking more... The crux is UTF-8, since tests have non-Roman script.

[2020-05-15 15:17] lintool opened #1201 "Explore what Kotlin can bring to Anserini"
Does Anserini gain anything from Kotlin?

[2020-05-15 19:15] HangCui0510 commented on #1173
@eiston Can you please help me with this? I have tried different mappings. they all give the same result 0.2308. I compared output run files among Solrini, Elastirini and Anserini, solrini and anserini are exactly the same, elastirini has the same doc ranking but double the scores.

[2020-05-15 19:17] lintool commented on #1173
@HangCui0510 Are the rankings (ordering of the documents) the same? Are the differences only isolated to a few different queries?

[2020-05-15 19:23] eiston commented on #1173
@HangCui0510 I am looking into this

[2020-05-15 23:38] HangCui0510 commented on #1173
@lintool about 1000 out of 5000000 are different on retrieval with [topics.msmarco-doc.dev.txt](https://github.com/HangCui0510/anserini/blob/master/src/main/resources/topics-and-qrels/topics.msmarco-doc.dev.txt)

[2020-05-16 00:02] HangCui0510 commented on #1173
@lintool the differences are on many topics but only 2-3 rankings are different on these topics.

[2020-05-16 00:07] HangCui0510 commented on #1173
@lintool Oh, I think I know what the problem is. Please refer to the picture, it's the rounding that makes differences
<img width="716" alt="Screen Shot 2020-05-15 at 8 05 23 PM" src="https://user-images.githubusercontent.com/64120158/82105066-6be4f400-96e7-11ea-812d-891a124eb8f0.png">

[2020-05-16 00:29] lintool commented on #1173
Ah, I see. The rounding causes scoring ties, and that changes the map ever so slightly. I wonder why this same issue doesn't affect Solr? There, we can replicate results exactly, right?

[2020-05-16 01:33] HangCui0510 commented on #1173
right, it seems like solr and anserini have the same score scales, they have the same ranking score values. Elastirini's score is higher, nearly double.

[2020-05-17 06:51] HangCui0510 commented on #1173
@lintool Is this problem fixable? I noticed that elasticssearch with msmarco-passage also has a different value (slightly different) from [lucene regression](https://github.com/castorini/anserini/blob/master/docs/regressions-msmarco-passage.md)

<img width="436" alt="Screen Shot 2020-05-17 at 2 47 38 AM" src="https://user-images.githubusercontent.com/64120158/82137789-201a7380-97e9-11ea-95cc-5ce4a

[2020-05-17 20:35] lintool opened #1207 "CORD-19 full-text JSON without title and abstract are not indexed"
@x65han discovered at least two documents that were not indexed:

[code]
The issue can be verified in the 5/12 in data dump but exists in previous version as well. If we, for example, look at:

[code]

We'll see that the full-text JSON has neither title nor abstract, and thus is not indexed. It seems like this is the correct course of action, but opening up issue to note this finding.

[2020-05-18 00:27] lintool commented on #1207
@x65han can you describe how you found these two ids?

They don't appear to be in the TREC-COVID round 1 qrels:

[code]
Above command finds nothing...

[2020-05-18 00:31] x65han commented on #1207
I'm using the May 01 dataset, which should go beyond round 1 qrels, right?

[2020-05-19 14:44] dpr101 opened #1209 "Passage reranking for custom collection"
Hi,

It might be good to complete the [custom collection doc](https://github.com/castorini/anserini/blob/master/docs/custom-collections.md) with light instructions on passage reranking, after seeing [this issue](https://github.com/huggingface/transformers/issues/580).

[pygaggle](https://github.com/castorini/pygaggle/tree/master/pygaggle) has been a well-bundled and transparent resource for the CO

[2020-05-20 00:01] lintool commented on #1209
hey @egzhbdt cool, thanks for this!

After chatting with the team, we think this doc might be best in pygaggle itself? Maybe you could start a `docs/` directory for us and drop this in there? Please send PR. We could have mutual pointers between docs in anserini and pygaggle?

[2020-05-20 09:23] davidmrau opened #1211 "Multi-threaded Search"
I am trying to run a multi-threaded search using `SearchCollection` with `-threads` > 1, eg. 5. However, looking at the CPU load I see only one core is fully occupied and therefore the search is really slow. Is there something additional I need to take care of besides setting the  number of `threads` as a flag?

Thanks in advance!

[2020-05-20 10:06] lintool commented on #1211
Hi @davidmrau for `SearchCollection`, `-threads` provides parallelism at the run level, for tuning parameters. I.e., it _doesn't_ run queries on multiple threads, it runs _all_ queries on a single thread, but parallelizes across different parameter settings.

If you want to run queries in parallel, we've been writing our own driver programs - see, for example: https://github.com/castorini/anserini

[2020-05-20 10:19] davidmrau commented on #1211
Thanks for the clarification. I'll have a look!

[2020-05-20 10:29] lintool commented on #1211
We're in the processing of building equivalent search functionality from the Python end: https://github.com/castorini/pyserini/blob/master/pyserini/search/__main__.py

Adding multi-threading support at the query level there is a possibility. You're welcome to contribute... or wait for us to (eventually) implement it! :)

[2020-05-20 10:29] #1211 closed

[2020-05-20 10:35] lintool commented on #1209
ref: https://github.com/castorini/pygaggle/issues/21

[2020-05-20 11:22] lintool opened #1212 "Try fixing MS MARCO encoding issues *before* indexing"
Simple task for next URA that comes along: https://github.com/castorini/anserini/issues/945#issuecomment-576417312

See if fixing encoding issues before indexing has any effect on MRR...

[2020-05-20 11:30] lintool commented on #1207
The current indexer behavior seems to be reasonable. I don't think there's an action item, so closing issue.

[2020-05-20 11:30] #1207 closed

[2020-05-22 04:00] HangCui0510 commented on #1212
@lintool fixing encoding issues before indexing improves MRR
<img width="490" alt="Screen Shot 2020-05-21 at 11 56 24 PM" src="https://user-images.githubusercontent.com/64120158/82629918-2466d800-9bbf-11ea-9cb5-453704e41cee.png">
<img width="197" alt="Screen Shot 2020-05-21 at 11 57 07 PM" src="https://user-images.githubusercontent.com/64120158/82629926-292b8c00-9bbf-11ea-9679-03d0b5c64363.png">
<

[2020-05-22 10:42] lintool opened #1215 "Document issues with CORD-19 5/19 version"
hey @edwinzhng can you remember to document the issues with the 5/19 data drop here?
https://github.com/castorini/anserini/blob/master/docs/experiments-cord19.md

[2020-05-22 11:17] lintool opened #1216 "Eval tools for anserini/pyserini"
As we expose more functionalities in pyserini, it becomes useful to do evaluations directly from that repo, without needing to clone anserini. What about our standard eval tools like `trec_eval`?

There are few options:
1. put all eval tools in `anserini` repo
2. put all eval tools in `pyserini` repo
3. put all eval tools in separate repo
4. keep copies in both? (sync manually?)
5. git submodules?

[2020-05-22 11:23] rodrigonogueira4 commented on #1216
git submodules seem the right choice, but I used it only once, so maybe someone with more experience can comment about it?

If not, keeping copies in both anserini and pyserini would be my next choice.

[2020-05-22 11:34] ronakice commented on #1216
Yes, this does apply to pygaggle too. In fact, I was debating what I should do for the instructions yesterday with regards to `msmarco_eval.py` and temporarily decided to just go with a separate copy. However, it does seem like 5 is most appropriate (which I've never used to haha)!

[2020-05-22 15:55] edwinzhng commented on #1216
Yep git submodules are good! I think you still need to sync them manually occasionally using `git submodule update` (so that everyone who clones will get the same submodule commit). Other than that, it's pretty clean and simple for this use case.

[2020-05-22 18:03] edwinzhng commented on #1212
Cool! Although not _exactly_ the same as what I had when I tried to fix the encodings manually: https://github.com/castorini/anserini/pull/947/files#diff-dfae4736bfb51a6cc825c3d227393265L88

[2020-05-22 18:07] lintool commented on #1212
hi @HangCui0510 great work!

hey @rodrigonogueira4 @ronakice - I don't think the small gain is worth us redoing everything we've done before? e.g., doc2query, running mono/duoT5, etc. right?

[2020-05-22 18:10] ronakice commented on #1212
Nah. Great that it improves MRR@10 performance, but overkill repeating everything for such an improvement. The actual impact comes from changes in R@1000 and we haven't quantified that yet.

[2020-05-22 18:13] rodrigonogueira4 commented on #1212
I agree.

It would be nice to see this fix in T5 reranker, I think gains will be larger there.

[2020-05-22 18:17] ronakice commented on #1212
Another URA task ;), encoding before monoT5. I found performance degraded in duo, but didn't use this exact way of fixing it.

[2020-05-22 18:59] lintool commented on #1216
I'll do this when I get a chance.

[2020-05-23 01:53] HangCui0510 commented on #1150
@lintool By indexing cord-19 into ElasticSearch, we are able to get visualizations from Kibana
<img width="748" alt="Screen Shot 2020-05-22 at 9 49 35 PM" src="https://user-images.githubusercontent.com/64120158/82719198-7dde0e00-9c76-11ea-9a75-4985765a9110.png">
<img width="890" alt="Screen Shot 2020-05-22 at 9 43 21 PM" src="https://user-images.githubusercontent.com/64120158/82719199-80406800-9c7

[2020-05-24 11:57] lintool commented on #1215
@edwinzhng closeable?

[2020-05-24 11:58] lintool commented on #1150
cool!

Do you want to write up instructions and add to this doc? https://github.com/castorini/anserini/blob/master/docs/elastirini.md

@stephaniewhoo might be interested in playing with this also...

[2020-05-24 19:23] HangCui0510 commented on #1150
Sure

[2020-05-25 09:58] #1215 closed

[2020-05-25 18:41] kelvin-jiang opened #1222 "AttributeError in retrieving passages for MS MARCO passage ranking"
In the replication of the MS MARCO passage ranking experiment, we retrieve passages by running
[code]

This leads to the following error:
[code]

This error is also encountered in https://github.com/castorini/anserini/pull/1220.

[2020-05-26 10:08] lintool commented on #1166
We should make options take single dash instead of double dash, e.g., `-run` instead of `--run` to be consistent with `trec_eval` and other tools.

[2020-05-26 10:20] lintool commented on #1222
@kelvin-jiang thanks for reporting. yup, we're aware of this issue... the repo is in rapid flux right now due to EMNLP deadlines and TREC COVID runs. We'll return to this once things quiet down.

[2020-06-01 02:05] lintool opened #1247 "Move eval/measure_judged.py improvements over to anserini-eval repo"
Hey @adamyy can you remake your PR `[#1166] eval/measure_judged.py improvments (#1246)` against this repo? https://github.com/castorini/anserini-eval

We're in the process of migrating over to `anserini-eval` as a submodule shared across multiple repos, as in: https://github.com/castorini/pyserini/

[2020-06-01 02:34] adamyy commented on #1247
Sure thing! Will work on it soon.

[2020-06-01 22:02] lintool commented on #1247
Closed by https://github.com/castorini/anserini-eval/pull/3

[2020-06-01 22:03] #1247 closed

[2020-06-01 22:21] #1216 closed

[2020-06-02 12:55] MarcosFP97 opened #1249 "TREC Car Tools Dependency error"
Hi! First of all, thank you for your awesome work. I've cloned this repository and I am trying to build the project but I always came across with the same error:

`[ERROR] Failed to execute goal on project anserini: Could not resolve dependencies for project io.anserini:anserini:jar:0.9.4-SNAPSHOT: Failed to collect dependencies at com.github.TREMA-UNH:trec-car-tools-java:jar:17: Failed to read ar

[2020-06-02 12:58] lintool commented on #1249
What version of Java are you on? What OS? Weird, no one I know has encountered this issue before...

[2020-06-02 13:00] MarcosFP97 commented on #1249
I am using Java 11.07 and Centos 7

[2020-06-02 13:05] lintool commented on #1249
I just removed my Maven cache and rebuilt from scratch:

[code]

It was successful, but you seem to be trying to grab a more recent version of the jar... why?

The issue is likely that the authors of treccar haven't properly published the artifacts on their end...

[2020-06-02 14:29] MarcosFP97 commented on #1249
I have also tried to clean Maven cache and it still doesn't work. Related to the artifact version, I decided to upgrade to 17 since with 13 didn't work too... should I try with an earlier one?

[2020-06-02 15:03] lintool commented on #1249
I'm sorry, I don't know how to help... I'm unable to replicate the error you're getting, so I can't help you...

[2020-06-02 19:05] MarcosFP97 commented on #1249
Don't worry. I will keep trying and if I find the problem I will post it in here in case somebody has a similar problem. Thanks for your help!

[2020-06-03 15:24] lintool commented on #1222
I believe this has been closed by #1238

@kelvin-jiang can you please confirm and then close issue?

[2020-06-03 17:27] kelvin-jiang commented on #1222
Confirmed!

[2020-06-03 17:27] #1222 closed

[2020-06-04 19:03] lintool commented on #348
We now have a way to do this in Pyserini: https://github.com/castorini/pyserini/pulls?q=is%3Apr+vectorizer

Issue obsolete.

[2020-06-04 19:03] #348 closed

[2020-06-04 19:07] lintool opened #1254 "Delete IndexUtil"
`IndexUtil` is defunct. The `IndexReaderUtils` class contains the utility methods that are actively being used (in pyserini) and is well tested.

I'm not aware of active research threads that are using `IndexUtil`. The only possible remaining useful feature is the ability to dump tf-idf vectors (cf. #348) - but pyserini can do this now.

We should just kill this class.

I'm going to leave this iss

[2020-06-04 20:10] lintool commented on #1173
I don't think there's much we can do about this issue. Good to document, though, for future reference. Closing.

[2020-06-04 20:10] #1173 closed

[2020-06-04 20:14] lintool commented on #1254
The dependencies are more complex than I thought. Our regression run scripts need this: https://github.com/castorini/anserini/blob/master/src/main/python/run_regression.py#L125

[2020-06-04 20:15] lintool commented on #1150
Done: https://github.com/castorini/anserini/blob/master/docs/experiments-cord19-extras.md

Closing issue! Thanks @HangCui0510 !

[2020-06-04 20:15] #1150 closed

[2020-06-04 21:37] kevinmartinjos opened #1256 "SPL forbids SPL"
[This](https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SearchArgs.java#L176) line contains `spl` in the forbids list, and that seems wrong.

[2020-06-04 21:46] lintool commented on #1256
Yup, that's a bug. Mind sending a quick PR? Thanks!